Repository joomlagerman/joomla, pull requests merged in 2018-09, with the labels that each got.

#486 update readme
  README.md
Labels: enhancement

#485 [3.9] Enhance Content - Contact plugin #458
  administrator/language/de-DE/de-DE.plg_content_contact.ini
Labels: core language change

#483 [3.9] Allow searching article content in backend #426
  administrator/language/de-DE/de-DE.com_content.ini
Labels: core language change

#484 [3.9] [new feature] Article notes field #428
  administrator/language/de-DE/de-DE.com_content.ini
Labels: core language change

#487 Punctuation mark plg_user_contactcreator
  administrator/language/de-DE/de-DE.plg_user_contactcreator.ini
Labels: enhancement

#488 [3.9] Privacy Tool Suite #455
  administrator/language/de-DE/de-DE.com_actionlogs.ini
  administrator/language/de-DE/de-DE.com_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_messages.ini
  administrator/language/de-DE/de-DE.com_privacy.ini
  administrator/language/de-DE/de-DE.com_privacy.sys.ini
  administrator/language/de-DE/de-DE.ini
  administrator/language/de-DE/de-DE.mod_latestactions.ini
  administrator/language/de-DE/de-DE.mod_latestactions.sys.ini
  administrator/language/de-DE/de-DE.mod_menu.ini
  administrator/language/de-DE/de-DE.mod_privacy_dashboard.ini
  administrator/language/de-DE/de-DE.mod_privacy_dashboard.sys.ini
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.sys.ini
  administrator/language/de-DE/de-DE.plg_authentication_cookie.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_actionlogs.ini
  administrator/language/de-DE/de-DE.plg_privacy_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_contact.ini
  administrator/language/de-DE/de-DE.plg_privacy_contact.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_content.ini
  administrator/language/de-DE/de-DE.plg_privacy_content.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_message.ini
  administrator/language/de-DE/de-DE.plg_privacy_message.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_user.ini
  administrator/language/de-DE/de-DE.plg_privacy_user.sys.ini
  administrator/language/de-DE/de-DE.plg_quickicon_privacycheck.ini
  administrator/language/de-DE/de-DE.plg_quickicon_privacycheck.sys.ini
  administrator/language/de-DE/de-DE.plg_system_actionlogs.ini
  administrator/language/de-DE/de-DE.plg_system_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.plg_system_languagefilter.ini
  administrator/language/de-DE/de-DE.plg_system_logrotation.ini
  administrator/language/de-DE/de-DE.plg_system_logrotation.sys.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.sys.ini
  administrator/language/de-DE/de-DE.plg_user_terms.ini
  administrator/language/de-DE/de-DE.plg_user_terms.sys.ini
  language/de-DE/de-DE.com_privacy.ini
Labels: core language change

#506 [3.9] Kleinkram #505
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_messages.ini
  administrator/language/de-DE/de-DE.mod_menu.ini
  administrator/language/de-DE/de-DE.plg_authentication_cookie.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.ini
  administrator/language/de-DE/de-DE.plg_system_languagefilter.ini
Labels: core language change

#508 [3.9] plg_privacy_user.ini & plg_privacy_user.sys.ini #499
  administrator/language/de-DE/de-DE.plg_privacy_user.ini
  administrator/language/de-DE/de-DE.plg_privacy_user.sys.ini
Labels: core language change

#510 [3.9] Adjustments for upcoming Install from Web plugin update
  administrator/language/de-DE/de-DE.plg_installer_webinstaller.ini
Labels: core language change

#513 [3.9] Sync the translation for the view hits translation
  language/de-DE/de-DE.mod_stats.ini
Labels: bug

#512 [3.9] Unused string. Code was modified to use a JGLOBAL one
  administrator/language/de-DE/de-DE.ini
Labels: core language change

#507 [3.9]plg_system_logrotation.ini & plg_system_logrotation.sys.ini #502
  administrator/language/de-DE/de-DE.plg_system_logrotation.ini
  administrator/language/de-DE/de-DE.plg_system_logrotation.sys.ini
Labels: core language change

#511 [3.9] en-GB.plg_captcha_recaptcha.ini: Alpha sorting strings. Taking off blank lines before comments.
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.ini
Labels: core language change

#517 [3.9] plg_quickicon_privacycheck.ini & plg_quickicon_privacycheck.sys.ini
  administrator/language/de-DE/de-DE.plg_quickicon_privacycheck.ini
  administrator/language/de-DE/de-DE.plg_quickicon_privacycheck.sys.ini
Labels: core language change

#518 [3.9] plg_privacy_contact.sys.ini & plg_privacy_contact.ini
  administrator/language/de-DE/de-DE.plg_privacy_contact.ini
  administrator/language/de-DE/de-DE.plg_privacy_contact.sys.ini
Labels: core language change

#519 [3.9] mod_privacy_dashboard.ini & mod_privacy_dashboard.sys.ini
  administrator/language/de-DE/de-DE.mod_privacy_dashboard.ini
  administrator/language/de-DE/de-DE.mod_privacy_dashboard.sys.ini
Labels: core language change

#520 [3.9] plg_user_terms.ini & plg_user_terms.sys.ini
  administrator/language/de-DE/de-DE.plg_user_terms.ini
  administrator/language/de-DE/de-DE.plg_user_terms.sys.ini
Labels: core language change

#525 [3.9] plg_content_confirmconsent.ini & plg_content_confirmconsent.sys.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.sys.ini
Labels: core language change

#522 unification of 3 strings NO_MATCHING_RESULT
  administrator/language/de-DE/de-DE.ini
Labels: enhancement

#521 [3.9] mod_latestactions.ini & mod_latestactions.sys.ini
  administrator/language/de-DE/de-DE.mod_latestactions.ini
  administrator/language/de-DE/de-DE.mod_latestactions.sys.ini
Labels: core language change

#524 [3.9] plg_system_actionlogs.ini & plg_system_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.plg_system_actionlogs.ini
  administrator/language/de-DE/de-DE.plg_system_actionlogs.sys.ini
Labels: core language change

#533 [3.9] Update de-DE.plg_user_terms.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_user_terms.ini
Labels: enhancement

#523 [3.9] plg_privacy_actionlogs.ini & plg_privacy_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.plg_privacy_actionlogs.ini
  administrator/language/de-DE/de-DE.plg_privacy_actionlogs.sys.ini
Labels: core language change

#534 [3.9] [com_fields] Error message when creating a field with a name already existing
  administrator/language/de-DE/de-DE.com_fields.ini
Labels: core language change

#537 unification webseite
  administrator/language/de-DE/de-DE.com_config.ini
  language/de-DE/de-DE.com_config.ini
Labels: enhancement

#535 [3.9] com_actionlogs.ini & com_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.com_actionlogs.ini
  administrator/language/de-DE/de-DE.com_actionlogs.sys.ini
Labels: core language change

#540 [FIX] Calendar wrong locale variable
  media/system/js/fields/calendar-locales/de.js
Labels: bug, core language change

#536 [3.9] plg_system_privacyconsent.ini & plg_system_privacyconsent.sys.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.sys.ini
Labels: core language change

#538 [3.9] com_privacy.ini & com_privacy.sys.ini
  administrator/language/de-DE/de-DE.com_privacy.ini
  administrator/language/de-DE/de-DE.com_privacy.sys.ini
  language/de-DE/de-DE.com_privacy.ini
Labels: core language change

#542 fix another typo
  administrator/language/de-DE/de-DE.com_content.ini
Labels: bug

#544 fix a typo in com_privacy
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#548 Missing comma
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#547 Grammar error
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#549 two typos
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#546 Über diese Informationen - Bereich Möglichkeiten
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#545 sorting and double string usage
  language/de-DE/de-DE.mod_feed.ini
Labels: bug

#554 [3.9] Zusatz zu Term "personenbezogenen Daten" or "persönliche Informationen" #552
  language/de-DE/de-DE.com_privacy.ini
Labels: enhancement

#558 Satz vereinfacht
  administrator/language/de-DE/de-DE.mod_menu.ini
Labels: enhancement

#560 fix a typo in string Webseitebetreibern
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: bug

#557 [3.9] Verwendung des Terms "Information" und "Daten"
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
Labels: enhancement

#564 [3.9] Übersetzung von "Expiration" zu Ablauf
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
Labels: enhancement

#561 improve wording for capabilities
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: enhancement

#562 Change language debug mode to allow it to show the language constants
  administrator/language/de-DE/de-DE.com_config.ini
Labels: core language change

#567 Text vereinacht und umformuliert, so dass keine direkte Anrede mehr enthalten ist
  language/de-DE/de-DE.com_privacy.ini
Labels: enhancement

#568 Anfage anstelle von Anforderung
  administrator/language/de-DE/de-DE.ini
  administrator/language/de-DE/de-DE.plg_quickicon_privacycheck.ini
  language/de-DE/de-DE.ini
Labels: enhancement

#569 Persönliche Anrede in allgemeine Formulierung umgewandelt
  language/de-DE/de-DE.com_privacy.ini
Labels: enhancement

#572 [3.8] String 94 translated
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: enhancement

#574 [3.9] Email Domain Restrictions
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/de-DE.ini
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.com_users.ini
  language/de-DE/de-DE.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: core language change

#563 [3.9] Make the php security only warning more generic
  administrator/language/de-DE/de-DE.plg_quickicon_phpversioncheck.ini
Labels: core language change, enhancement

#578 [3.9] Change the Label Server Time Zone to Website Time Zone
  administrator/language/de-DE/de-DE.com_config.ini
Labels: core language change

#579 [3.9] [staging] Fix overrides usability #22107
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: core language change

#543 [3.9] [com_media] Correct error strings
  administrator/language/de-DE/de-DE.com_media.ini
Labels: bug, core language change

#580 Merge 3.9-dev in master
  administrator/language/de-DE/de-DE.com_media.ini
Labels: core language change

#555 [3.9] improve pr #552
  administrator/language/de-DE/de-DE.com_privacy.ini
  language/de-DE/de-DE.com_privacy.ini
Labels: enhancement

#583 [3.9] Missing language string in repeatable plugin
  administrator/language/de-DE/de-DE.plg_fields_repeatable.ini
Labels: core language change

#582 [3.9] Benutzer-Stapelverarbeitung, Vorgänge umbenennen
  administrator/language/de-DE/de-DE.com_users.ini
Labels: enhancement

#584 [3.9] Missing strings in plugin_confirmconsent
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
Labels: core language change

#586 [plg_system_privacyconsent] - log privacy consent
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
Labels: core language change

#585 Webseite => Website
  administrator/language/de-DE/de-DE.com_actionlogs.ini
  administrator/language/de-DE/de-DE.com_actionlogs.sys.ini
  administrator/language/de-DE/de-DE.com_banners.ini
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_cpanel.ini
  administrator/language/de-DE/de-DE.com_finder.ini
  administrator/language/de-DE/de-DE.com_menus.ini
  administrator/language/de-DE/de-DE.com_privacy.ini
  administrator/language/de-DE/de-DE.com_privacy.sys.ini
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/de-DE.ini
  administrator/language/de-DE/de-DE.lib_joomla.ini
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
  administrator/language/de-DE/de-DE.plg_authentication_cookie.ini
  administrator/language/de-DE/de-DE.plg_authentication_joomla.sys.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_content_contact.ini
  administrator/language/de-DE/de-DE.plg_installer_webinstaller.ini
  administrator/language/de-DE/de-DE.plg_system_debug.ini
  administrator/language/de-DE/de-DE.plg_system_languagefilter.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.sys.ini
  administrator/language/de-DE/de-DE.plg_system_updatenotification.ini
  administrator/language/de-DE/de-DE.plg_user_terms.ini
  administrator/language/de-DE/de-DE.plg_user_terms.sys.ini
  installation/language/de-DE/de-DE.ini
  language/de-DE/de-DE.com_config.ini
  language/de-DE/de-DE.com_privacy.ini
  language/de-DE/de-DE.ini
  language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.mod_finder.ini
  language/de-DE/de-DE.mod_syndicate.ini
  language/de-DE/de-DE.mod_syndicate.sys.ini
Labels: enhancement

#588 Fix constants and ordering for com_actionslogs ini file
  administrator/language/de-DE/de-DE.com_actionlogs.ini
Labels: core language change

#589 [com_templates] Support plugin layout overrides #22248
  administrator/language/de-DE/de-DE.com_templates.ini
Labels: core language change

#590 [Fix] Missing error string in frontend #22333
  language/de-DE/de-DE.ini
Labels: core language change

#596 Changing hardcoded text to language string in template preview #22365
  language/de-DE/de-DE.ini
Labels: core language change

#593 Correcting plg_actionlog_joomla language strings #22342
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
Labels: core language change

#594 [3.9][Privacy] Clarifies confusing dashboard Status Check
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: core language change

#601 [3.8.12] "Abmeldeweiterleitungstyp": Falsche Information im Tooltip
  administrator/language/de-DE/de-DE.com_users.ini
Labels: core language change
