Repository joomlagerman/joomla, pull requests merged in 2019-12, with the labels that each got.

#784 Update post install message to PHP 7.2.5
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: core language change

#789 Fixing a mistake made with PR #24397 + fixing setting description for clarity
  administrator/language/de-DE/de-DE.com_fields.ini
Labels: Joomla! 3.x, core language change

#790 Fields - hidden secrets
  administrator/language/de-DE/de-DE.com_fields.ini
Labels: Joomla! 3.x, core language change

#787 [plg_quickicon_phpversioncheck] Avoid errors when Joomla! gets outdated
  administrator/language/de-DE/de-DE.plg_quickicon_phpversioncheck.ini
Labels: Joomla! 3.x, core language change

#791 [4.0] Rename de-DE.ini and de-DE.xml
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/langmetadata.xml
  installation/language/de-DE/joomla.ini
  installation/language/de-DE/langmetadata.xml
  language/de-DE/joomla.ini
  language/de-DE/langmetadata.xml
Labels: Joomla! 4.x, core language change

#793 [3.10] Pre Update checker + eine deprecation notice
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
  administrator/language/de-DE/de-DE.ini
  installation/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#799 [4.0] delete language/de-DE.mod_search*
  language/de-DE/de-DE.com_search.ini
  language/de-DE/de-DE.mod_search.ini
  language/de-DE/de-DE.mod_search.sys.ini
Labels: Joomla! 4.x, core language change

#800 [4.0] Installation
  installation/language/de-DE/joomla.ini
  installation/localise.xml
Labels: Joomla! 4.x, core language change

#802 Rename language/de-DE/tpl_cassiopeia*
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#803 [4.0] Rename and update frontend modules
  language/de-DE/mod_articles_archive.ini
  language/de-DE/mod_articles_archive.sys.ini
  language/de-DE/mod_articles_categories.ini
  language/de-DE/mod_articles_categories.sys.ini
  language/de-DE/mod_articles_category.ini
  language/de-DE/mod_articles_category.sys.ini
  language/de-DE/mod_articles_latest.ini
  language/de-DE/mod_articles_latest.sys.ini
  language/de-DE/mod_articles_news.ini
  language/de-DE/mod_articles_news.sys.ini
  language/de-DE/mod_articles_popular.ini
  language/de-DE/mod_articles_popular.sys.ini
  language/de-DE/mod_banners.ini
  language/de-DE/mod_banners.sys.ini
  language/de-DE/mod_breadcrumbs.ini
  language/de-DE/mod_breadcrumbs.sys.ini
  language/de-DE/mod_custom.ini
  language/de-DE/mod_custom.sys.ini
  language/de-DE/mod_feed.ini
  language/de-DE/mod_feed.sys.ini
  language/de-DE/mod_finder.ini
  language/de-DE/mod_finder.sys.ini
  language/de-DE/mod_footer.ini
  language/de-DE/mod_footer.sys.ini
  language/de-DE/mod_languages.ini
  language/de-DE/mod_languages.sys.ini
  language/de-DE/mod_login.ini
  language/de-DE/mod_login.sys.ini
  language/de-DE/mod_menu.ini
  language/de-DE/mod_menu.sys.ini
  language/de-DE/mod_random_image.ini
  language/de-DE/mod_random_image.sys.ini
  language/de-DE/mod_related_items.ini
  language/de-DE/mod_related_items.sys.ini
  language/de-DE/mod_stats.ini
  language/de-DE/mod_stats.sys.ini
  language/de-DE/mod_syndicate.ini
  language/de-DE/mod_syndicate.sys.ini
  language/de-DE/mod_tags_popular.ini
  language/de-DE/mod_tags_popular.sys.ini
  language/de-DE/mod_tags_similar.ini
  language/de-DE/mod_tags_similar.sys.ini
  language/de-DE/mod_users_latest.ini
  language/de-DE/mod_users_latest.sys.ini
  language/de-DE/mod_whosonline.ini
  language/de-DE/mod_whosonline.sys.ini
  language/de-DE/mod_wrapper.ini
  language/de-DE/mod_wrapper.sys.ini
Labels: Joomla! 4.x, core language change

#809 [4.0] Rename and update frontend components
  language/de-DE/com_ajax.ini
  language/de-DE/com_config.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_content.ini
  language/de-DE/com_finder.commonwords.txt
  language/de-DE/com_finder.ini
  language/de-DE/com_mailto.ini
  language/de-DE/com_media.ini
  language/de-DE/com_messages.ini
  language/de-DE/com_newsfeeds.ini
  language/de-DE/com_privacy.ini
  language/de-DE/com_tags.ini
  language/de-DE/com_users.ini
  language/de-DE/com_wrapper.ini
Labels: Joomla! 4.x, core language change

#811 [4.0] administrator/language plugins delete files not in use
  administrator/language/de-DE/de-DE.plg_authentication_gmail.ini
  administrator/language/de-DE/de-DE.plg_authentication_gmail.sys.ini
  administrator/language/de-DE/de-DE.plg_content_geshi.ini
  administrator/language/de-DE/de-DE.plg_content_geshi.sys.ini
  administrator/language/de-DE/de-DE.plg_finder_weblinks.ini
  administrator/language/de-DE/de-DE.plg_finder_weblinks.sys.ini
  administrator/language/de-DE/de-DE.plg_search_categories.ini
  administrator/language/de-DE/de-DE.plg_search_categories.sys.ini
  administrator/language/de-DE/de-DE.plg_search_contacts.ini
  administrator/language/de-DE/de-DE.plg_search_contacts.sys.ini
  administrator/language/de-DE/de-DE.plg_search_content.ini
  administrator/language/de-DE/de-DE.plg_search_content.sys.ini
  administrator/language/de-DE/de-DE.plg_search_newsfeeds.ini
  administrator/language/de-DE/de-DE.plg_search_newsfeeds.sys.ini
  administrator/language/de-DE/de-DE.plg_search_tags.ini
  administrator/language/de-DE/de-DE.plg_search_tags.sys.ini
  administrator/language/de-DE/de-DE.plg_search_weblinks.ini
  administrator/language/de-DE/de-DE.plg_search_weblinks.sys.ini
  administrator/language/de-DE/de-DE.plg_system_p3p.ini
  administrator/language/de-DE/de-DE.plg_system_p3p.sys.ini
Labels: Joomla! 4.x, core language change

#805 [4.0] administrator/language delete de-DE.com_search*, de-DE.com_weblinks*
  administrator/language/de-DE/de-DE.com_search.ini
  administrator/language/de-DE/de-DE.com_search.sys.ini
  administrator/language/de-DE/de-DE.com_weblinks.ini
  administrator/language/de-DE/de-DE.com_weblinks.sys.ini
Labels: Joomla! 4.x, core language change

#816 Action Logs - hidden secret
  administrator/language/de-DE/de-DE.com_actionlogs.ini
Labels: Joomla! 3.x, core language change

#817 Show a different message when we cant connect to the languages update…
  administrator/language/de-DE/de-DE.com_installer.ini
Labels: Joomla! 3.x, core language change

#818 [4.0] Patch email settings
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 4.x, enhancement

#815 [4.0] Patch super benutzer vs super administrator
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 4.x, enhancement

#820 fix string and typo
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, enhancement

#821 [4.0] Benutzer-Konto vs Benutzerkonto
  administrator/language/de-DE/de-DE.com_cpanel.ini
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/de-DE.plg_privacy_user.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, enhancement

#822 plg-system_language - Remove DESC (not used in j4)
  administrator/language/de-DE/plg_system_languagecode.ini
  administrator/language/de-DE/plg_system_languagecode.sys.ini
  administrator/language/de-DE/plg_system_languagefilter.ini
  administrator/language/de-DE/plg_system_languagefilter.sys.ini
Labels: Joomla! 4.x, core language change

#828 [4.0] authentication plugins
  administrator/language/de-DE/plg_authentication_cookie.ini
  administrator/language/de-DE/plg_authentication_cookie.sys.ini
  administrator/language/de-DE/plg_authentication_joomla.ini
  administrator/language/de-DE/plg_authentication_joomla.sys.ini
  administrator/language/de-DE/plg_authentication_ldap.ini
Labels: Joomla! 4.x, core language change

#826 [4.0] rename action log plugin
  administrator/language/de-DE/plg_actionlog_joomla.ini
  administrator/language/de-DE/plg_actionlog_joomla.sys.ini
Labels: Joomla! 4.x, core language change

#824 [4.0] New behavior plugins
  administrator/language/de-DE/plg_behaviour_taggable.ini
  administrator/language/de-DE/plg_behaviour_taggable.sys.ini
  administrator/language/de-DE/plg_behaviour_versionable.ini
  administrator/language/de-DE/plg_behaviour_versionable.sys.ini
Labels: Joomla! 4.x, core language change

#823 [4.0] First files for #808
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  administrator/language/de-DE/localise.php
Labels: Joomla! 4.x, core language change

#830 [4.0] content plugins
  administrator/language/de-DE/plg_content_confirmconsent.ini
  administrator/language/de-DE/plg_content_confirmconsent.sys.ini
  administrator/language/de-DE/plg_content_contact.ini
  administrator/language/de-DE/plg_content_contact.sys.ini
  administrator/language/de-DE/plg_content_emailcloak.ini
  administrator/language/de-DE/plg_content_emailcloak.sys.ini
  administrator/language/de-DE/plg_content_fields.ini
  administrator/language/de-DE/plg_content_fields.sys.ini
  administrator/language/de-DE/plg_content_finder.ini
  administrator/language/de-DE/plg_content_finder.sys.ini
  administrator/language/de-DE/plg_content_joomla.ini
  administrator/language/de-DE/plg_content_joomla.sys.ini
  administrator/language/de-DE/plg_content_loadmodule.ini
  administrator/language/de-DE/plg_content_loadmodule.sys.ini
  administrator/language/de-DE/plg_content_pagebreak.ini
  administrator/language/de-DE/plg_content_pagebreak.sys.ini
  administrator/language/de-DE/plg_content_pagenavigation.ini
  administrator/language/de-DE/plg_content_pagenavigation.sys.ini
  administrator/language/de-DE/plg_content_vote.ini
  administrator/language/de-DE/plg_content_vote.sys.ini
Labels: Joomla! 4.x, core language change

#827 [4.0] Add new api auth plugin
  administrator/language/de-DE/plg_api-authentication_basic.ini
  administrator/language/de-DE/plg_api-authentication_basic.sys.ini
  administrator/language/de-DE/plg_api-authentication_token.ini
  administrator/language/de-DE/plg_api-authentication_token.sys.ini
Labels: Joomla! 4.x, core language change

#825 [4.0] Update plugins from type extension
  administrator/language/de-DE/plg_extension_finder.ini
  administrator/language/de-DE/plg_extension_finder.sys.ini
  administrator/language/de-DE/plg_extension_joomla.ini
  administrator/language/de-DE/plg_extension_joomla.sys.ini
  administrator/language/de-DE/plg_extension_namespacemap.ini
  administrator/language/de-DE/plg_extension_namespacemap.sys.ini
Labels: Joomla! 4.x, core language change

#832 [4.0] editors-xtd plugins
  administrator/language/de-DE/plg_editors-xtd_article.ini
  administrator/language/de-DE/plg_editors-xtd_article.sys.ini
  administrator/language/de-DE/plg_editors-xtd_contact.ini
  administrator/language/de-DE/plg_editors-xtd_contact.sys.ini
  administrator/language/de-DE/plg_editors-xtd_fields.ini
  administrator/language/de-DE/plg_editors-xtd_fields.sys.ini
  administrator/language/de-DE/plg_editors-xtd_image.ini
  administrator/language/de-DE/plg_editors-xtd_image.sys.ini
  administrator/language/de-DE/plg_editors-xtd_menu.ini
  administrator/language/de-DE/plg_editors-xtd_menu.sys.ini
  administrator/language/de-DE/plg_editors-xtd_module.ini
  administrator/language/de-DE/plg_editors-xtd_module.sys.ini
  administrator/language/de-DE/plg_editors-xtd_pagebreak.ini
  administrator/language/de-DE/plg_editors-xtd_pagebreak.sys.ini
  administrator/language/de-DE/plg_editors-xtd_readmore.ini
  administrator/language/de-DE/plg_editors-xtd_readmore.sys.ini
Labels: Joomla! 4.x, core language change

#831 [4.0] editor plugins
  administrator/language/de-DE/de-DE.plg_editors_codemirror.ini
  administrator/language/de-DE/de-DE.plg_editors_tinymce.ini
  administrator/language/de-DE/plg_editors_codemirror.ini
  administrator/language/de-DE/plg_editors_codemirror.sys.ini
  administrator/language/de-DE/plg_editors_none.ini
  administrator/language/de-DE/plg_editors_none.sys.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_editors_tinymce.sys.ini
Labels: Joomla! 4.x, core language change

#835 [4.0] plg system log*
  administrator/language/de-DE/plg_system_log.ini
  administrator/language/de-DE/plg_system_log.sys.ini
  administrator/language/de-DE/plg_system_logout.ini
  administrator/language/de-DE/plg_system_logout.sys.ini
  administrator/language/de-DE/plg_system_logrotation.ini
  administrator/language/de-DE/plg_system_logrotation.sys.ini
Labels: Joomla! 4.x, core language change

#840 [4.0] privacy plugins
  administrator/language/de-DE/plg_privacy_actionlogs.ini
  administrator/language/de-DE/plg_privacy_actionlogs.sys.ini
  administrator/language/de-DE/plg_privacy_consents.ini
  administrator/language/de-DE/plg_privacy_consents.sys.ini
  administrator/language/de-DE/plg_privacy_contact.ini
  administrator/language/de-DE/plg_privacy_contact.sys.ini
  administrator/language/de-DE/plg_privacy_content.ini
  administrator/language/de-DE/plg_privacy_content.sys.ini
  administrator/language/de-DE/plg_privacy_message.ini
  administrator/language/de-DE/plg_privacy_message.sys.ini
  administrator/language/de-DE/plg_privacy_user.ini
  administrator/language/de-DE/plg_privacy_user.sys.ini
Labels: Joomla! 4.x, core language change

#841 [4.0] drop desc in plg_system_logrotation.ini
  administrator/language/de-DE/plg_system_logrotation.ini
Labels: Joomla! 4.x, core language change

#838 [4.0] installer plugins
  administrator/language/de-DE/de-DE.plg_installer_webinstaller.ini
  administrator/language/de-DE/plg_installer_folderinstaller.ini
  administrator/language/de-DE/plg_installer_folderinstaller.sys.ini
  administrator/language/de-DE/plg_installer_override.ini
  administrator/language/de-DE/plg_installer_override.sys.ini
  administrator/language/de-DE/plg_installer_packageinstaller.ini
  administrator/language/de-DE/plg_installer_packageinstaller.sys.ini
  administrator/language/de-DE/plg_installer_urlinstaller.ini
  administrator/language/de-DE/plg_installer_urlinstaller.sys.ini
  administrator/language/de-DE/plg_installer_webinstaller.ini
  administrator/language/de-DE/plg_installer_webinstaller.sys.ini
Labels: Joomla! 4.x, core language change

#837 [4.0] finder plugins
  administrator/language/de-DE/plg_finder_categories.ini
  administrator/language/de-DE/plg_finder_categories.sys.ini
  administrator/language/de-DE/plg_finder_contacts.ini
  administrator/language/de-DE/plg_finder_contacts.sys.ini
  administrator/language/de-DE/plg_finder_content.ini
  administrator/language/de-DE/plg_finder_content.sys.ini
  administrator/language/de-DE/plg_finder_newsfeeds.ini
  administrator/language/de-DE/plg_finder_newsfeeds.sys.ini
  administrator/language/de-DE/plg_finder_tags.ini
  administrator/language/de-DE/plg_finder_tags.sys.ini
Labels: Joomla! 4.x, core language change

#843 [4.0] plg_system_actionlogs
  administrator/language/de-DE/plg_system_actionlogs.ini
  administrator/language/de-DE/plg_system_actionlogs.sys.ini
Labels: Joomla! 4.x, core language change

#839 [4.0] media action fields and a non correct header
  administrator/language/de-DE/plg_extension_namespacemap.ini
  administrator/language/de-DE/plg_extension_namespacemap.sys.ini
  administrator/language/de-DE/plg_media-action_crop.ini
  administrator/language/de-DE/plg_media-action_crop.sys.ini
  administrator/language/de-DE/plg_media-action_resize.ini
  administrator/language/de-DE/plg_media-action_resize.sys.ini
  administrator/language/de-DE/plg_media-action_rotate.ini
  administrator/language/de-DE/plg_media-action_rotate.sys.ini
Labels: Joomla! 4.x, core language change

#836 [4.0] Filesystem plugin
  administrator/language/de-DE/plg_filesystem_local.ini
  administrator/language/de-DE/plg_filesystem_local.sys.ini
Labels: Joomla! 4.x, core language change

#845 [4.0] cache plg
  administrator/language/de-DE/plg_system_cache.ini
  administrator/language/de-DE/plg_system_cache.sys.ini
Labels: Joomla! 4.x, core language change

#847 Misleading alert text (INSTL_DATABASE_PREFIX_MSG)
  installation/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, enhancement

#846 [4.0] twofactorauth plugins
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_totp.sys.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.sys.ini
Labels: Joomla! 4.x, core language change

#842 [4.0] quickicon plugins
  administrator/language/de-DE/plg_quickicon_downloadkey.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.sys.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.sys.ini
  administrator/language/de-DE/plg_quickicon_joomlaupdate.ini
  administrator/language/de-DE/plg_quickicon_joomlaupdate.sys.ini
  administrator/language/de-DE/plg_quickicon_overridecheck.ini
  administrator/language/de-DE/plg_quickicon_overridecheck.sys.ini
  administrator/language/de-DE/plg_quickicon_phpversioncheck.ini
  administrator/language/de-DE/plg_quickicon_phpversioncheck.sys.ini
  administrator/language/de-DE/plg_quickicon_privacycheck.ini
  administrator/language/de-DE/plg_quickicon_privacycheck.sys.ini
Labels: Joomla! 4.x, core language change

#848 [4.0] webservice plugins
  administrator/language/de-DE/plg_webservices_banners.ini
  administrator/language/de-DE/plg_webservices_banners.sys.ini
  administrator/language/de-DE/plg_webservices_config.ini
  administrator/language/de-DE/plg_webservices_config.sys.ini
  administrator/language/de-DE/plg_webservices_contact.ini
  administrator/language/de-DE/plg_webservices_contact.sys.ini
  administrator/language/de-DE/plg_webservices_content.ini
  administrator/language/de-DE/plg_webservices_content.sys.ini
  administrator/language/de-DE/plg_webservices_languages.ini
  administrator/language/de-DE/plg_webservices_languages.sys.ini
  administrator/language/de-DE/plg_webservices_menus.ini
  administrator/language/de-DE/plg_webservices_menus.sys.ini
  administrator/language/de-DE/plg_webservices_messages.ini
  administrator/language/de-DE/plg_webservices_messages.sys.ini
  administrator/language/de-DE/plg_webservices_modules.ini
  administrator/language/de-DE/plg_webservices_modules.sys.ini
  administrator/language/de-DE/plg_webservices_newsfeeds.ini
  administrator/language/de-DE/plg_webservices_newsfeeds.sys.ini
  administrator/language/de-DE/plg_webservices_plugins.ini
  administrator/language/de-DE/plg_webservices_plugins.sys.ini
  administrator/language/de-DE/plg_webservices_privacy.ini
  administrator/language/de-DE/plg_webservices_privacy.sys.ini
  administrator/language/de-DE/plg_webservices_redirect.ini
  administrator/language/de-DE/plg_webservices_redirect.sys.ini
  administrator/language/de-DE/plg_webservices_tags.ini
  administrator/language/de-DE/plg_webservices_tags.sys.ini
  administrator/language/de-DE/plg_webservices_templates.ini
  administrator/language/de-DE/plg_webservices_templates.sys.ini
  administrator/language/de-DE/plg_webservices_users.ini
  administrator/language/de-DE/plg_webservices_users.sys.ini
Labels: Joomla! 4.x, core language change

#849 [4.0] sampledata blog
  administrator/language/de-DE/plg_sampledata_blog.ini
  administrator/language/de-DE/plg_sampledata_blog.sys.ini
Labels: Joomla! 4.x, core language change

#850 [4.0] sampledata multilingual
  administrator/language/de-DE/plg_sampledata_multilang.ini
  administrator/language/de-DE/plg_sampledata_multilang.sys.ini
Labels: Joomla! 4.x, core language change

#844 [4.0] Use plugins including the token user plugin
  administrator/language/de-DE/plg_user_contactcreator.ini
  administrator/language/de-DE/plg_user_contactcreator.sys.ini
  administrator/language/de-DE/plg_user_joomla.ini
  administrator/language/de-DE/plg_user_joomla.sys.ini
  administrator/language/de-DE/plg_user_profile.ini
  administrator/language/de-DE/plg_user_profile.sys.ini
  administrator/language/de-DE/plg_user_terms.ini
  administrator/language/de-DE/plg_user_terms.sys.ini
  administrator/language/de-DE/plg_user_token.ini
  administrator/language/de-DE/plg_user_token.sys.ini
Labels: Joomla! 4.x, core language change

#853 [4.0] Existing system plugins
  administrator/language/de-DE/plg_system_debug.ini
  administrator/language/de-DE/plg_system_debug.sys.ini
  administrator/language/de-DE/plg_system_fields.ini
  administrator/language/de-DE/plg_system_fields.sys.ini
  administrator/language/de-DE/plg_system_highlight.ini
  administrator/language/de-DE/plg_system_highlight.sys.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
  administrator/language/de-DE/plg_system_privacyconsent.sys.ini
  administrator/language/de-DE/plg_system_redirect.ini
  administrator/language/de-DE/plg_system_redirect.sys.ini
  administrator/language/de-DE/plg_system_remember.ini
  administrator/language/de-DE/plg_system_remember.sys.ini
  administrator/language/de-DE/plg_system_sef.ini
  administrator/language/de-DE/plg_system_sef.sys.ini
  administrator/language/de-DE/plg_system_sessiongc.ini
  administrator/language/de-DE/plg_system_sessiongc.sys.ini
  administrator/language/de-DE/plg_system_stats.ini
  administrator/language/de-DE/plg_system_stats.sys.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_system_updatenotification.sys.ini
Labels: Joomla! 4.x, core language change

#852 [4.0] Cassiopea: Correcting positions translation #27278
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#854 [4.0] add new system plugins
  administrator/language/de-DE/plg_system_httpheaders.ini
  administrator/language/de-DE/plg_system_httpheaders.sys.ini
  administrator/language/de-DE/plg_system_skipto.ini
  administrator/language/de-DE/plg_system_skipto.sys.ini
Labels: Joomla! 4.x, core language change

#857 [4.0] Multilang associations: Display error when Content Language is trashed or deleted
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#855 [4.0] Zwei Strings im Skipto Plugin
  administrator/language/de-DE/plg_system_skipto.ini
  administrator/language/de-DE/plg_system_skipto.sys.ini
Labels: Joomla! 4.x, core language change
