Repository joomlagerman/joomla, pull requests merged in 2019-05, with the labels that each got.

#730 [4.0] Hauptbeitrag oder Haupteintrag?
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_contact.ini
  administrator/language/de-DE/de-DE.com_content.ini
  administrator/language/de-DE/de-DE.com_content.sys.ini
  administrator/language/de-DE/de-DE.ini
  administrator/language/de-DE/de-DE.mod_menu.ini
  language/de-DE/de-DE.ini
  language/de-DE/de-DE.mod_articles_category.ini
  language/de-DE/de-DE.mod_articles_latest.ini
  language/de-DE/de-DE.mod_articles_news.ini
  language/de-DE/de-DE.mod_articles_popular.ini
Labels: Joomla! 4.x, enhancement

#731 [3.x] _QQ_ vs \'
  administrator/language/de-DE/de-DE.com_cpanel.ini
  administrator/language/de-DE/de-DE.com_redirect.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha.sys.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha_invisible.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha_invisible.sys.ini
Labels: core language change

#733 Customizing Tags placeholder select field
  administrator/language/de-DE/de-DE.ini
  language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change
