Repository joomlagerman/joomla, pull requests merged in 2019-04, with the labels that each got.

#699 Aufrufstapel vs. Call Stack
  administrator/language/de-DE/de-DE.plg_system_debug.ini
Labels: bug

#709 COM_MEDIA_ERROR_WARNINVALID_FOLDER
  administrator/language/de-DE/de-DE.com_media.ini
Labels: core language change

#718 de-DE.mod_articles_category.ini
  language/de-DE/de-DE.mod_articles_category.ini
Labels: core language change

#717 de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: core language change

#719 [4.0] fix installation language
  installation/language/de-DE/de-DE.ini
Labels: enhancement

#720 Prevent to save too large module content > 65535
  administrator/language/de-DE/de-DE.com_modules.ini
Labels: core language change

#722 Added patch for connecting to AD-server with self-signed certificates.
  administrator/language/de-DE/de-DE.plg_authentication_ldap.ini
Labels: core language change

#729 [META] Neue Issue und PR Templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta
