Repository joomlagerman/joomla, pull requests merged in 2019-02, with the labels that each got.

#683 [staging] Correcting multilingual status module when a content language is in the trash
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: core language change

#681 [staging] Deleting unused Contacts "banned" fields
  administrator/language/de-DE/de-DE.com_contact.ini
  language/de-DE/de-DE.com_contact.ini
Labels: core language change

#684 fix typo
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
Labels: bug

#685 Prepare 393
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: core language change

#687 Update Post-Install-Message
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: enhancement

#688 update post-install-message
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: enhancement

#689 consolidation z. B. -> z.B.
  administrator/language/de-DE/de-DE.mod_toolbar.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.ini
  administrator/language/de-DE/de-DE.plg_content_confirmconsent.sys.ini
Labels: enhancement

#690 fix ordering
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: core language change
