Repository joomlagerman/joomla, pull requests merged in 2020-10, with the labels that each got.

#1255 [3.9] Fix escaped HTML code in error message
  language/de-DE/de-DE.com_users.ini
Labels: Joomla! 3.x, enhancement

#1254 [4.0] Numbers not digits
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1257 [4.0] bug wording state assets translation
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1094 [4.0] administrator/language/com_privacy
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/com_privacy.sys.ini
Labels: Joomla! 4.x, core language change

#1092 [4.0] administrator/language/com_tags
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/com_tags.sys.ini
Labels: Joomla! 4.x, core language change

#1095 [4.0] administrator/language/com_newsfeeds
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_newsfeeds.sys.ini
  administrator/language/de-DE/de-DE.com_newsfeeds.ini
Labels: Joomla! 4.x, core language change

#1258 [4.0] Clean up com_users forms
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1097 [4.0] Converting several mails to mail templates
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_user_joomla.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1093 [4.0] administrator/language/com_messages
  administrator/language/de-DE/com_messages.ini
  administrator/language/de-DE/com_messages.sys.ini
Labels: Joomla! 4.x, core language change

#1260 [4.0] Translate lib_joomla
  administrator/language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1261 [3.10] unification of singular
  administrator/language/de-DE/de-DE.com_actionlogs.ini
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_banners.ini
  administrator/language/de-DE/de-DE.com_categories.ini
  administrator/language/de-DE/de-DE.com_checkin.ini
  administrator/language/de-DE/de-DE.com_contact.ini
  administrator/language/de-DE/de-DE.com_content.ini
  administrator/language/de-DE/de-DE.com_contenthistory.ini
  administrator/language/de-DE/de-DE.com_fields.ini
  administrator/language/de-DE/de-DE.com_finder.ini
  administrator/language/de-DE/de-DE.com_installer.ini
  administrator/language/de-DE/de-DE.com_languages.ini
  administrator/language/de-DE/de-DE.com_menus.ini
  administrator/language/de-DE/de-DE.com_modules.ini
  administrator/language/de-DE/de-DE.com_newsfeeds.ini
  administrator/language/de-DE/de-DE.com_plugins.ini
  administrator/language/de-DE/de-DE.com_privacy.ini
  administrator/language/de-DE/de-DE.com_redirect.ini
  administrator/language/de-DE/de-DE.com_tags.ini
  administrator/language/de-DE/de-DE.com_templates.ini
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/de-DE.com_weblinks.ini
  administrator/language/de-DE/de-DE.mod_status.ini
Labels: Joomla! 3.x, enhancement

#1266 [4.0] Template layout select
  language/de-DE/tpl_cassiopeia.ini
Labels: Joomla! 4.x, core language change

#1265 [4.0] Cassiopeia missing string
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1269 [4.0] Workflow missing string
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1268 [4.0] Site Contacts Category List Search Filters
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1267 [4.0] com_users front end forms
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1091 [4.0] administrator/language/com_users
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/com_users.sys.ini
Labels: Joomla! 4.x, core language change

#1271 [4.0] Bearbeitungsdatum vs. Änderungsdatum
  language/de-DE/com_media.ini
Labels: Joomla! 4.x, enhancement

#1090 [4.0] administrator/language/com_media
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_media.sys.ini
  administrator/language/de-DE/de-DE.com_media.ini
Labels: Joomla! 4.x, core language change

#1275 [4.0] unification of Media Manager
  language/de-DE/com_media.ini
Labels: Joomla! 4.x, enhancement

#1273 [4.0] fix rename plg_authentication_ldap.sys.ini
  administrator/language/de-DE/plg_authentication_ldap.sys.ini
Labels: Joomla! 4.x, core language change

#1276 [4.1] Extend 2FA Enforcement option to select usergroups
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1277 [4.0] Lets replace !" with ."
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_ajax.ini
  administrator/language/de-DE/com_associations.ini
  administrator/language/de-DE/com_cache.ini
  administrator/language/de-DE/com_checkin.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_plugins.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/de-DE.com_languages.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_feed.ini
  administrator/language/de-DE/mod_login.ini
  administrator/language/de-DE/mod_login.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_authentication_joomla.ini
  administrator/language/de-DE/plg_authentication_ldap.ini
  administrator/language/de-DE/plg_authentication_ldap.sys.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.ini
  administrator/language/de-DE/plg_quickicon_joomlaupdate.ini
  administrator/language/de-DE/plg_sampledata_blog.ini
  administrator/language/de-DE/plg_sampledata_multilang.ini
  administrator/language/de-DE/plg_system_debug.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_user_contactcreator.ini
  administrator/language/de-DE/plg_user_joomla.ini
  administrator/language/de-DE/plg_user_joomla.sys.ini
  administrator/language/de-DE/plg_user_profile.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/com_ajax.ini
  language/de-DE/com_config.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_content.ini
  language/de-DE/com_finder.ini
  language/de-DE/com_media.ini
  language/de-DE/com_messages.ini
  language/de-DE/com_newsfeeds.ini
  language/de-DE/com_tags.ini
  language/de-DE/com_users.ini
  language/de-DE/com_wrapper.ini
  language/de-DE/lib_joomla.ini
  language/de-DE/mod_feed.ini
  language/de-DE/mod_random_image.ini
  media/editors/tinymce/langs/de.js
Labels: Joomla! 4.x, enhancement

#1272 [4.0] administrator/com_language
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_languages.sys.ini
Labels: Joomla! 4.x, core language change

#1280 [4.0] Stufe vs. Phase vs. Status
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, enhancement

#1285 [4.0] List Contacts in a Category display
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1284 [4.0] more elements hard coded to string
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, core language change

#858 [4.0] add 6 new administrator/language/com_files
  administrator/language/de-DE/com_csp.ini
  administrator/language/de-DE/com_csp.sys.ini
  administrator/language/de-DE/com_mails.ini
  administrator/language/de-DE/com_mails.sys.ini
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/com_workflow.sys.ini
Labels: Joomla! 4.x, core language change

#1283 [4.0] Improve text in batch modal
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1282 [4.0] Modifying com_actionlogs string
  administrator/language/de-DE/com_actionlogs.ini
Labels: Joomla! 4.x, core language change

#1288 [4.0] Missing alerts strings
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1296 [4.0] Redundant words
  administrator/language/de-DE/com_privacy.ini
  language/de-DE/com_privacy.ini
Labels: Joomla! 4.x, core language change

#1278 [4.0] Language generally
  language/de-DE/files_joomla.sys.ini
  language/de-DE/lib_joomla.sys.ini
  language/de-DE/lib_simplepie.sys.ini
  language/de-DE/localise.php
Labels: Joomla! 4.x, core language change

#1297 [4.0] Modify display and tip for Edit Article in Frontend
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1301 [4.0] Frontend: Fix List Contacts Category List Limit
  administrator/language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1298 [4.0] [a11y] com_finder :: add missing legend to fieldset
  language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1293 [4.0] Frontend: correcting Tags layouts
  language/de-DE/com_tags.ini
Labels: Joomla! 4.x, core language change

#1294 [4.0] yubikey text
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
Labels: Joomla! 4.x, core language change

#1300 [4.0] Normalise Featured Contact List
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1299 [4.0] Add a parameter for "back-to-top" button in Cassiopeia
  language/de-DE/tpl_cassiopeia.ini
Labels: Joomla! 4.x, core language change

#1313 [4.0] Fix insert statements in mysql/localize.sql
  installation/sql/mysql/localise.sql
Labels: Joomla! 4.x, bug, hacktoberfest-accepted

#1311 [4.0] Installation: Adding a hint on top of Password field
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1310 [4.0] blog intro image
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1312 [4.0] installer override plugin: Fix wrong plural string format
  administrator/language/de-DE/plg_installer_override.ini
Labels: Joomla! 4.x, core language change

#1309 [4.0] [a11y] add sr-only text to first column of table head
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1307 [4.0] Missing string COM_CONTENT_ARTICLES_TABLE_CAPTION
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1316 [4.0] Replace old contact icons by icons
  administrator/language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1314 [4.0] Update JHELP_* Strings
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1321 [4.0] Remove string that was only used in the GMail plugin
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1320 [4.0] namespace path
  administrator/language/de-DE/plg_extension_namespacemap.ini
  administrator/language/de-DE/plg_extension_namespacemap.sys.ini
Labels: Joomla! 4.x, core language change

#1315 [4.0] Make installer texts more simple
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1319 [4.0] alpha sorting and strings in com_installer.ini
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x, core language change, enhancement, hacktoberfest-accepted

#1308 [4.0] Option to use a menu item for privacy policy.
  administrator/language/de-DE/plg_content_confirmconsent.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
Labels: Joomla! 4.x, core language change

#1325 [4.0] change JTOOLBAR_CHANGE_STATUS = "Actionen" to JTOOLBAR_CHANGE_STATUS…
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, bug, hacktoberfest-accepted

#1327 [4.0] Add missing language strings
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1328 [4.0] Make onUserLoginButtons event work again
  administrator/language/de-DE/plg_system_webauthn.ini
Labels: Joomla! 4.x, core language change

#1326 [4.0] Fix Installation language strings
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1329 [4.0] Add missing language strings
  administrator/language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change, enhancement

#1330 [4.0] Fix useless red class when unpublishing Content Language
  administrator/language/de-DE/com_languages.ini
Labels: Joomla! 4.x, core language change

#1335 [4.0] Replace com_content 'Image Float' with 'Image Class
  administrator/language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1339 [4.0] missing plg_workflow*.ini files
  administrator/language/de-DE/plg_workflow_featuring.ini
  administrator/language/de-DE/plg_workflow_featuring.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  administrator/language/de-DE/plg_workflow_notification.sys.ini
  administrator/language/de-DE/plg_workflow_publishing.ini
  administrator/language/de-DE/plg_workflow_publishing.sys.ini
Labels: Joomla! 4.x, core language change, hacktoberfest-accepted

#1342 [4.0] [Workflow] Implement the whole permission system for the workflow
  administrator/language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1344 [4.0] Normalizing authentication cookie plugin lang strings
  administrator/language/de-DE/plg_authentication_cookie.ini
  administrator/language/de-DE/plg_authentication_cookie.sys.ini
Labels: Joomla! 4.x, core language change

#1343 [4.0] Normalizing authentication joomla plugin strings
  administrator/language/de-DE/plg_authentication_joomla.ini
  administrator/language/de-DE/plg_authentication_joomla.sys.ini
Labels: Joomla! 4.x, core language change

#1341 [4.0] Add accessibility to stats table
  administrator/language/de-DE/plg_system_stats.ini
Labels: Joomla! 4.x, core language change

#1345 [4.0] Update JHELP_* Strings (api)
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1354 [4.0] add additional php settings to system info helpful for debugging
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1353 [4.0] [Cassiopea] Implementing Password length/meter
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1348 [4.0] Restore com_admin profile view
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1346 [4.0] br tag
  administrator/language/de-DE/com_cpanel.ini
Labels: Joomla! 4.x, core language change

#1351 [4.0] Unification JENFORCE_2FA_REDIRECT_MESSAGE
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1349 [4.0] Split up installer plugin JS
  administrator/language/de-DE/plg_installer_webinstaller.ini
Labels: Joomla! 4.x, core language change

#1347 [4.0][webservice][com_installer] "list of installed extensions" webservice
  administrator/language/de-DE/plg_webservices_installer.ini
  administrator/language/de-DE/plg_webservices_installer.sys.ini
Labels: Joomla! 4.x, core language change

#1356 [4.0] Pluginless lazyloading for the core
  administrator/language/de-DE/plg_content_imagelazyload.sys.ini
Labels: Joomla! 4.x, core language change

#1357 [4.0] tinymce plugin missing string [a11y]
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change

#1359 [4.0] [a11y] add statement on found results
  language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1358 [4.0] Featured Contact [a11y] #1158 & [4.0] Hauptbeitrag vs Haupteintrag #1352
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change, hacktoberfest-accepted

#1361 [4.0] Fix debug logging. Move logging to application
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/plg_system_debug.ini
Labels: Joomla! 4.x, core language change

#1360 [4.0] Unification of _CLASS_LABEL values
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/plg_fields_imagelist.ini
  administrator/language/de-DE/plg_fields_media.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_media.ini
  language/de-DE/lib_joomla.ini
  language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1362 [4.0] Global strings for readmore layout
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1364 [4.0] Weiterleitung vs Umleitung
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_redirect.sys.ini
  administrator/language/de-DE/plg_actionlog_joomla.ini
  administrator/language/de-DE/plg_system_redirect.ini
  administrator/language/de-DE/plg_system_redirect.sys.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1363 [4.0] mod_syndicate a11y and more
  language/de-DE/mod_syndicate.ini
Labels: Joomla! 4.x, core language change

#1369 [4.0] will fix minor color contrast
  administrator/language/de-DE/com_cache.ini
Labels: Joomla! 4.x, bug, enhancement, hacktoberfest-accepted

#1368 [4.0] missing translation plg_workflow*.ini files
  administrator/language/de-DE/plg_workflow_featuring.ini
  administrator/language/de-DE/plg_workflow_featuring.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  administrator/language/de-DE/plg_workflow_notification.sys.ini
  administrator/language/de-DE/plg_workflow_publishing.ini
  administrator/language/de-DE/plg_workflow_publishing.sys.ini
Labels: Joomla! 4.x, core language change, hacktoberfest-accepted

#1366 [4.0] Rename Control Panel as Home Dashboard
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_cpanel.sys.ini
  administrator/language/de-DE/plg_quickicon_privacycheck.ini
Labels: Joomla! 4.x, core language change

#1365 [4.0] Help Dashboard
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, core language change

#1367 [4.0] Smart Search: Fixing ordering, order direction and disabled button
  administrator/language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1371 [4.0] all Dashboard
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_content.sys.ini
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_menus.sys.ini
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/com_privacy.sys.ini
  administrator/language/de-DE/com_users.sys.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/mod_privacy_dashboard.ini
  administrator/language/de-DE/mod_privacy_dashboard.sys.ini
  administrator/language/de-DE/mod_quickicon.ini
  administrator/language/de-DE/mod_quickicon.sys.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.sys.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.sys.ini
  administrator/language/de-DE/plg_quickicon_joomlaupdate.ini
  administrator/language/de-DE/plg_quickicon_joomlaupdate.sys.ini
  administrator/language/de-DE/plg_quickicon_privacycheck.sys.ini
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
  api/language/de-DE/joomla.ini
  installation/sql/mysql/localise.sql
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1372 [4.0] administrator/language/de-DE/com_admin.ini vs. core
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, core language change, hacktoberfest-accepted

#1375 [4.0] Replace com_content 'Image Float' with 'Image Class'
  administrator/language/de-DE/com_content.ini
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1376 [4.0] Alpha sort site lang strings part 2
  language/de-DE/mod_articles_category.ini
  language/de-DE/mod_articles_latest.ini
  language/de-DE/mod_articles_latest.sys.ini
  language/de-DE/mod_articles_news.ini
  language/de-DE/mod_articles_news.sys.ini
  language/de-DE/mod_finder.ini
  language/de-DE/mod_languages.ini
  language/de-DE/mod_whosonline.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1377 [4.0] Alpha sort admin modules lang strings
  administrator/language/de-DE/mod_feed.ini
  administrator/language/de-DE/mod_latest.ini
  administrator/language/de-DE/mod_logged.sys.ini
  administrator/language/de-DE/mod_popular.ini
  administrator/language/de-DE/mod_quickicon.ini
  administrator/language/de-DE/mod_quickicon.sys.ini
Labels: Joomla! 4.x, core language change

#1379 [4.0] Written by #1378
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1381 Remove reference to Media manager in Imagelist Custom Field
  administrator/language/de-DE/de-DE.plg_fields_imagelist.ini
Labels: Joomla! 3.x, core language change

#1386 [4.0] Removed Latest Version Check Help #1384
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1387 [4.0] Add the Report-To header to the http header config and allow to set the script-dynamic header
  administrator/language/de-DE/com_csp.ini
Labels: Joomla! 4.x, core language change

#1389 [4.0] Unification of the translation of "name" for the user.
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1391 [4.0] will fix minor color contrast (part 2) "lightblue"
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_system_updatenotification.sys.ini
  api/language/de-DE/joomla.ini
  language/de-DE/mod_articles_categories.ini
  language/de-DE/mod_articles_category.ini
  language/de-DE/mod_banners.ini
  language/de-DE/mod_feed.ini
Labels: Joomla! 4.x, core language change, enhancement, hacktoberfest-accepted

#1393 Fix Comma issues
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_system_updatenotification.sys.ini
Labels: Joomla! 4.x, enhancement, hacktoberfest-accepted

#1395 [4.0] Helpfix
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change, hacktoberfest-accepted
