Repository joomlagerman/joomla, pull requests merged in 2020-07, with the labels that each got.

#1150 [com_messages] Add recipient permission check
  administrator/language/de-DE/de-DE.com_messages.ini
Labels: Joomla! 3.x, core language change

#1149 Fix ordering of language strings
  administrator/language/de-DE/de-DE.mod_status.ini
Labels: Joomla! 3.x, core language change

#1151 Set error when using invalid IDs in history version comparison
  administrator/language/de-DE/de-DE.com_contenthistory.ini
Labels: Joomla! 3.x, core language change

#1152 [3.x] explain symbols
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_users.ini
  language/de-DE/de-DE.com_users.ini
Labels: Joomla! 3.x, core language change

#1160 [3.x] Mark strings for robots options as not to translate Closes #1125
  administrator/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#1164 [3.x] delete word "Full" from pkg_de-DE.xml
  pkg_de-DE.xml
Labels: Joomla! 3.x, enhancement

#1163 [3.x] Unification of spelling language key/content in com_languages
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: Joomla! 3.x, enhancement

#1171 [4.0] just one ordering in tpl_atum.ini
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, enhancement

#1168 [3.10] Compatibilitycheck
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change
