Repository joomlagerman/joomla, pull requests merged in 2020-01, with the labels that each got.

#812 [WIP] [4.0] administrator/language template delete files, add tpl_atum
  administrator/language/de-DE/de-DE.tpl_hathor.ini
  administrator/language/de-DE/de-DE.tpl_hathor.sys.ini
  administrator/language/de-DE/de-DE.tpl_isis.ini
  administrator/language/de-DE/de-DE.tpl_isis.sys.ini
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
Labels: Joomla! 4.x, core language change

#833 [4.0] fields plugins
  administrator/language/de-DE/de-DE.plg_fields_textarea.ini
  administrator/language/de-DE/plg_fields_calendar.ini
  administrator/language/de-DE/plg_fields_calendar.sys.ini
  administrator/language/de-DE/plg_fields_checkboxes.ini
  administrator/language/de-DE/plg_fields_checkboxes.sys.ini
  administrator/language/de-DE/plg_fields_color.ini
  administrator/language/de-DE/plg_fields_color.sys.ini
  administrator/language/de-DE/plg_fields_editor.ini
  administrator/language/de-DE/plg_fields_editor.sys.ini
  administrator/language/de-DE/plg_fields_image.ini
  administrator/language/de-DE/plg_fields_image.sys.ini
  administrator/language/de-DE/plg_fields_imagelist.ini
  administrator/language/de-DE/plg_fields_imagelist.sys.ini
  administrator/language/de-DE/plg_fields_integer.ini
  administrator/language/de-DE/plg_fields_integer.sys.ini
  administrator/language/de-DE/plg_fields_list.ini
  administrator/language/de-DE/plg_fields_list.sys.ini
  administrator/language/de-DE/plg_fields_media.ini
  administrator/language/de-DE/plg_fields_media.sys.ini
  administrator/language/de-DE/plg_fields_radio.ini
  administrator/language/de-DE/plg_fields_radio.sys.ini
  administrator/language/de-DE/plg_fields_repeatable.ini
  administrator/language/de-DE/plg_fields_repeatable.sys.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_fields_sql.sys.ini
  administrator/language/de-DE/plg_fields_subfields.ini
  administrator/language/de-DE/plg_fields_subfields.sys.ini
  administrator/language/de-DE/plg_fields_text.ini
  administrator/language/de-DE/plg_fields_text.sys.ini
  administrator/language/de-DE/plg_fields_textarea.ini
  administrator/language/de-DE/plg_fields_textarea.sys.ini
  administrator/language/de-DE/plg_fields_url.ini
  administrator/language/de-DE/plg_fields_url.sys.ini
  administrator/language/de-DE/plg_fields_user.ini
  administrator/language/de-DE/plg_fields_user.sys.ini
  administrator/language/de-DE/plg_fields_usergrouplist.ini
  administrator/language/de-DE/plg_fields_usergrouplist.sys.ini
Labels: Joomla! 4.x, core language change

#863 [4.0] Sprachänderungen nachziehen
  administrator/language/de-DE/mod_custom.sys.ini
  administrator/language/de-DE/mod_feed.sys.ini
  administrator/language/de-DE/mod_latestactions.ini
  administrator/language/de-DE/mod_login.ini
  administrator/language/de-DE/mod_login.sys.ini
  administrator/language/de-DE/mod_menu.sys.ini
  administrator/language/de-DE/mod_popular.sys.ini
  administrator/language/de-DE/mod_privacy_dashboard.sys.ini
  administrator/language/de-DE/mod_title.sys.ini
  administrator/language/de-DE/mod_toolbar.sys.ini
  administrator/language/de-DE/plg_api-authentication_basic.ini
  administrator/language/de-DE/plg_api-authentication_basic.sys.ini
  administrator/language/de-DE/plg_system_actionlogs.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/mod_articles_archive.ini
  language/de-DE/mod_articles_archive.sys.ini
  language/de-DE/mod_articles_categories.ini
  language/de-DE/mod_articles_categories.sys.ini
  language/de-DE/mod_articles_category.sys.ini
  language/de-DE/mod_articles_popular.ini
  language/de-DE/mod_articles_popular.sys.ini
  language/de-DE/mod_banners.sys.ini
  language/de-DE/mod_breadcrumbs.sys.ini
  language/de-DE/mod_custom.ini
  language/de-DE/mod_feed.sys.ini
  language/de-DE/mod_finder.ini
  language/de-DE/mod_finder.sys.ini
  language/de-DE/mod_footer.sys.ini
  language/de-DE/mod_languages.sys.ini
  language/de-DE/mod_login.sys.ini
  language/de-DE/mod_menu.sys.ini
  language/de-DE/mod_random_image.sys.ini
  language/de-DE/mod_related_items.sys.ini
  language/de-DE/mod_stats.sys.ini
  language/de-DE/mod_syndicate.sys.ini
  language/de-DE/mod_users_latest.sys.ini
  language/de-DE/mod_whosonline.sys.ini
  language/de-DE/mod_wrapper.ini
  language/de-DE/mod_wrapper.sys.ini
Labels: Joomla! 4.x, core language change

#866 Ansprache in LAYOUT_NOT_ABLE_TO_VISIT Strings
  language/de-DE/de-DE.ini
Labels: Joomla! 3.x, enhancement

#864 [4.0] Add TLS transfer encryption for database connections at installation - 2nd version
  administrator/language/de-DE/plg_authentication_cookie.ini
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#867 UI fix: user with authorization to create in at least a category can access editor view in menuitems for other categories #17674
  administrator/language/de-DE/de-DE.com_content.ini
Labels: Joomla! 3.x, core language change

#868 [4.0] TinyMCE mobile #27501
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change
