Repository joomlagerman/joomla, pull requests merged in 2020-12, with the labels that each got.

#1455 Update com_templates.ini
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, enhancement

#1464 [4.0] Ordner vs. Verzeichnis
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_mails.ini
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1460 [4.0] Update com_languages.ini
  administrator/language/de-DE/com_languages.ini
Labels: Joomla! 4.x, core language change

#1459 [3.9] Update com_languages.ini
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: Joomla! 3.x, core language change

#1449 [4.0] [Backend] In Banners: Clients details page Contact column is di…
  administrator/language/de-DE/com_banners.ini
Labels: Joomla! 4.x, core language change

#1448 [4.0] search ellipsis
  administrator/language/de-DE/com_media.ini
Labels: Joomla! 4.x, core language change

#1434 [4.0] delete punctuation after Website
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1431 [4.0] Images loading=lazy, part 2n
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1438 [4.0] delete punctuation during installation
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1462 [4.0] Cassopeia template
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1466 [4.0] Alt Text
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x

#1469 [4.0] Newsfeeds image alt
  administrator/language/de-DE/com_newsfeeds.ini
Labels: Joomla! 4.x, core language change

#1470 [4.0] Typo/Spelling BASIS
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1474 [4.0] fix typo in /administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_languages.ini
Labels: Joomla! 4.x, enhancement

#1494 [3.x] fix typo in /administrator/language/de-DE/de-DE.com_languages.ini
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: Joomla! 3.x, enhancement
