Repository joomlagerman/joomla, pull requests merged in 2020-11, with the labels that each got.

#1398 Text für COM_USERS_RESET_REQUEST_LABEL ist missverständlich #1396
  language/de-DE/de-DE.com_users.ini
Labels: Joomla! 3.x, bug, hacktoberfest-accepted

#1400 [4.0] missing string in mod_breadcrumps.ini
  language/de-DE/mod_breadcrumbs.ini
Labels: Joomla! 4.x, core language change

#1399 [4.0] will fix minor color contrast (part 3) "blue"
  administrator/language/de-DE/plg_finder_content.ini
  administrator/language/de-DE/plg_finder_content.sys.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/mod_articles_category.ini
  language/de-DE/mod_related_items.ini
Labels: Joomla! 4.x, enhancement

#1402 [4.0] will fix text decoration (part 4 of #1369)
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_login.ini
  administrator/language/de-DE/mod_login.sys.ini
  administrator/language/de-DE/plg_authentication_cookie.ini
  administrator/language/de-DE/plg_authentication_cookie.sys.ini
  administrator/language/de-DE/plg_authentication_joomla.ini
  administrator/language/de-DE/plg_authentication_joomla.sys.ini
  administrator/language/de-DE/plg_authentication_ldap.ini
  administrator/language/de-DE/plg_authentication_ldap.sys.ini
  administrator/language/de-DE/plg_editors-xtd_fields.ini
  administrator/language/de-DE/plg_editors-xtd_fields.sys.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_system_cache.ini
  administrator/language/de-DE/plg_user_joomla.ini
  administrator/language/de-DE/plg_user_joomla.sys.ini
  language/de-DE/com_media.ini
  language/de-DE/mod_menu.ini
  language/de-DE/mod_related_items.ini
  language/de-DE/mod_related_items.sys.ini
  language/de-DE/mod_tags_popular.ini
Labels: Joomla! 4.x, enhancement

#1405 [4.0] fix naming admin mod_user.ini
  administrator/language/de-DE/mod_user.ini
  administrator/language/de-DE/mod_user.sys.ini
Labels: Joomla! 4.x, bug, core language change

#1407 [4.0] fix wording accessibility settings
  administrator/language/de-DE/mod_user.ini
Labels: Joomla! 4.x, enhancement

#1424 [4.0] Atum logo and login image alt [a11y]
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, core language change

#1425 [4.0] Smart search missing strings
  administrator/language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1421 [4.0] Accessible media field ALt Text
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1422 [4.0] Category ALT text
  administrator/language/de-DE/com_categories.ini
Labels: Joomla! 4.x, core language change

#1428 [4.0] Enable hotkey support for accessibility plugin
  administrator/language/de-DE/plg_system_accessibility.ini
  administrator/language/de-DE/plg_system_accessibility.sys.ini
Labels: Joomla! 4.x, core language change

#1427 [4.0] TYPO in com_menus.ini
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, enhancement

#1423 [4.0] Intro and Full image accessibility
  administrator/language/de-DE/com_content.ini
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1420 [4.0] missing language string(s) in /admin.../com_users.ini (file not in sync with core)
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1437 [4.0] Description Superuser Installation
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1439 : durch / ersetzt
  .github/CONTRIBUTING.md
Labels: bug

#1410 Added JLIB_INSTALLER_DISCOVER_INSTALL
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 3.x, core language change

#1442 [3.9] Missing lines JLIB_ when installing language packs
  installation/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#1441 [4.0] Update com_users.ini (bessere Wortwahl)
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, enhancement

#1452 [4.0] Update com_modules.ini (bessere Wortwahl)
  administrator/language/de-DE/com_modules.ini
Labels: Joomla! 4.x, enhancement
