Repository joomlagerman/joomla, pull requests merged in 2020-09, with the labels that each got.

#1200 [staging] Multilanguage: Display an error when url language code is saved as empty.
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: Joomla! 3.x, core language change

#1211 [staging] Correcting small typo from 30496
  administrator/language/de-DE/de-DE.com_languages.ini
Labels: Joomla! 3.x, core language change

#1220 [staging] typo "EinE Aktualisierung..."
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, bug

#1216 [staging] typo in AktualisierunGsquelle
  administrator/language/de-DE/de-DE.com_installer.ini
Labels: Joomla! 3.x, bug

#1218 [staging] typo in "EinE Sprache..."
  administrator/language/de-DE/de-DE.plg_system_updatenotification.ini
Labels: Joomla! 3.x, bug

#1221 [3.10] Aktualisierung vs. Update
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_cpanel.ini
  administrator/language/de-DE/de-DE.com_installer.ini
  administrator/language/de-DE/de-DE.com_installer.sys.ini
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
  administrator/language/de-DE/de-DE.com_joomlaupdate.sys.ini
  administrator/language/de-DE/de-DE.com_postinstall.ini
  administrator/language/de-DE/de-DE.com_postinstall.sys.ini
  administrator/language/de-DE/de-DE.lib_joomla.ini
  administrator/language/de-DE/de-DE.mod_menu.ini
  administrator/language/de-DE/de-DE.plg_quickicon_extensionupdate.ini
  administrator/language/de-DE/de-DE.plg_quickicon_extensionupdate.sys.ini
  administrator/language/de-DE/de-DE.plg_quickicon_joomlaupdate.ini
  administrator/language/de-DE/de-DE.plg_quickicon_joomlaupdate.sys.ini
  administrator/language/de-DE/de-DE.plg_quickicon_phpversioncheck.ini
  administrator/language/de-DE/de-DE.plg_system_redirect.ini
  administrator/language/de-DE/de-DE.plg_system_updatenotification.ini
  administrator/language/de-DE/de-DE.plg_system_updatenotification.sys.ini
  language/de-DE/de-DE.files_joomla.sys.ini
  language/de-DE/de-DE.lib_joomla.ini
  pkg_de-DE.xml
Labels: Joomla! 3.x, enhancement

#1096 [4.0] administrator/language/com_modules
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_modules.sys.ini
Labels: Joomla! 4.x, core language change

#1240 [3.9][plg_actionlogs] self activate account
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
Labels: Joomla! 3.x, core language change

#1241 [3.9] Log the from version on actionlogs when Joomla update
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
Labels: Joomla! 3.x, core language change

#1242 [staging]Wrong link for Help in User Actions Log Options
  administrator/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#1244 [3.9] Correct markup in postinstall message
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: Joomla! 3.x, core language change

#1243 [3.9] Correct module name in htaccess
  administrator/language/de-DE/de-DE.com_admin.ini
Labels: Joomla! 3.x, core language change

#1248 [4.0] Update joomla.ini
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x
