Repository joomlagerman/joomla, pull requests merged in 2020-02, with the labels that each got.

#871 [4.0] Record number of hits description
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#875 [4.0] URL Field frontend display
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_fields_url.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#882 [4.0] administrator/language components/com_actionlogs
  administrator/language/de-DE/com_actionlogs.ini
  administrator/language/de-DE/com_actionlogs.sys.ini
Labels: Joomla! 4.x, core language change

#883 [4.0] administrator/language components/com_menus
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_menus.sys.ini
Labels: Joomla! 4.x, core language change

#874 [4.0] Atum strings
  administrator/language/de-DE/tpl_atum.sys.ini
Labels: Joomla! 4.x, core language change

#884 [3.10] Improve pre update checker cs and add a dedicated message when no extensions are found
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: core language change

#885 [4.0] Add fallback for not complete manifest caches used in the pre-update checker
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#889 [4.0] Meta Description character count
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#892 [4.0] Move Private Messages to Users
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, core language change

#893 [4.0] Cassiopea: allow header to be sticky if desired
  language/de-DE/tpl_cassiopeia.ini
Labels: Joomla! 4.x, core language change

#897 [4.0] A11y select target associations
  administrator/language/de-DE/de-DE.com_associations.ini
Labels: Joomla! 4.x, core language change

#896 [4.0] Remove Meta Keywords (part 1)
  administrator/language/de-DE/de-DE.com_banners.ini
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/joomla.ini
  language/de-DE/mod_banners.ini
  language/de-DE/mod_related_items.ini
  language/de-DE/mod_related_items.sys.ini
Labels: Joomla! 4.x, core language change

#904 User Menu header #898
  administrator/language/de-DE/mod_users.ini
Labels: Joomla! 4.x, core language change

#915 [4.0] Fix discover for languages installed in API directory
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#913 [4.0] Open in new window
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#916 [4.0] Missing J installation error language string
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#917 [4.0] Internet Explorer message
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#914 [4.0] Permissions Text
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#911 [4.0] Adding frontend edit for com_contact
  administrator/language/de-DE/com_contact.sys.ini
  administrator/language/de-DE/joomla.ini
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#924 [4.0] administrator/language components com_contact
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_contact.sys.ini
  administrator/language/de-DE/de-DE.com_contact.ini
Labels: Joomla! 4.x, core language change

#923 [4.0] Help Links
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, core language change

#922 [4.0] administrator/language component com_cache
  administrator/language/de-DE/com_cache.ini
  administrator/language/de-DE/com_cache.sys.ini
Labels: Joomla! 4.x, core language change

#921 [4.0] administrator/language component com_login
  administrator/language/de-DE/com_login.ini
  administrator/language/de-DE/com_login.sys.ini
Labels: Joomla! 4.x, core language change

#920 fix #919 typo in plg_captcha_recaptcha_invisible.ini
  administrator/language/de-DE/de-DE.plg_captcha_recaptcha_invisible.ini
Labels: Joomla! 3.x, Joomla! 4.x, bug

#918 [4.0] administrator/language component com_postinstall
  administrator/language/de-DE/com_postinstall.ini
  administrator/language/de-DE/com_postinstall.sys.ini
Labels: Joomla! 4.x, core language change

#928 [4.0] Remove com_mailto
  administrator/language/de-DE/de-DE.com_mailto.sys.ini
  language/de-DE/com_mailto.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#929 [4.0] joomla_update new window
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#931 [4.0] Delete version number in manifest
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  installation/language/de-DE/langmetadata.xml
  installation/localise.xml
  language/de-DE/install.xml
  language/de-DE/langmetadata.xml
Labels: Joomla! 4.x, core language change

#927 [4.0] Fix language name files
  administrator/language/de-DE/install.xml
  language/de-DE/install.xml
Labels: Joomla! 4.x, core language change
