Repository joomlagerman/joomla, pull requests merged in 2020-03, with the labels that each got.

#860 fix language string in plg privacy
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
Labels: Joomla! 3.x, Joomla! 4.x, bug

#941 [4.0] helpsite removal
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#942 [4.0] administrator/language components com_wrapper
  administrator/language/de-DE/com_wrapper.ini
  administrator/language/de-DE/com_wrapper.sys.ini
Labels: Joomla! 4.x, core language change

#940 [4.0] meta keywords
  language/de-DE/mod_banners.ini
Labels: Joomla! 4.x, core language change

#937 GitHub workflows
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
  .github/workflows/greetings.yml
Labels: enhancement

#939 Show correct message when uploaded file is too large
  administrator/language/de-DE/de-DE.com_media.ini
Labels: Joomla! 3.x, core language change

#948 Workflow fix 1
  .github/auto_assign.yml
  .github/workflows/auto_assign_action.yml
Labels: enhancement

#945 [4.0] Content History [a11y]
  administrator/language/de-DE/com_contenthistory.ini
  administrator/language/de-DE/com_contenthistory.sys.ini
Labels: Joomla! 4.x, core language change

#943 [4.0] Allow 3rd party components to easily create the dashboard menu module
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 4.x, core language change

#958 [4.0] Shorter pinned description #27508
  administrator/language/de-DE/de-DE.com_banners.ini
Labels: Joomla! 4.x, core language change

#957 [4.0] Adaptive Accessibility Menu
  administrator/language/de-DE/plg_system_accessibility.ini
  administrator/language/de-DE/plg_system_accessibility.sys.ini
Labels: Joomla! 4.x, core language change

#956 [4.0] Implement three small language changes
  administrator/language/de-DE/com_contact.ini
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#961 APC User Cache translation missing
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 3.x, enhancement

#959 [4.0] WebAuthn Passwordless Authentication – Reloaded #28094
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_system_webauthn.sys.ini
Labels: Joomla! 4.x, core language change

#962 [4.0] Removing repeatable field plugin
  administrator/language/de-DE/plg_fields_repeatable.ini
  administrator/language/de-DE/plg_fields_repeatable.sys.ini
Labels: Joomla! 4.x, core language change

#926 [4.0] Load presets from component directory
  administrator/language/de-DE/com_menus.sys.ini
  administrator/language/de-DE/de-DE.com_content.sys.ini
  administrator/language/de-DE/de-DE.com_users.sys.ini
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, core language change

#964 [4.0] convert com_templates
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/com_templates.sys.ini
Labels: Joomla! 4.x, core language change

#965 [staging] missing string in installation #28440
  installation/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#966 [4.0] actually fix #963
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#970 Update README.md
  README.md
Labels: enhancement

#972 Update README.md
  README.md
Labels: enhancement

#971 [4.0] Update README.md
  README.md
Labels: enhancement

#973 [3.10] Update README.md
  README.md
Labels: enhancement

#975 Unification of the string value JLIB_DATABASE_ERROR_VALID_MAIL
  installation/language/de-DE/de-DE.ini
Labels: Joomla! 3.x, bug, enhancement

#977 Correction of obsolete annual figures
  installation/language/de-DE/de-DE.xml
  installation/sql/mysql/localise.sql
Labels: Joomla! 3.x, bug

#982 [4.0] Alias description
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#981 Added language constant INFO
  administrator/language/de-DE/de-DE.ini
  language/de-DE/de-DE.ini
Labels: Joomla! 3.x, core language change

#983 [4.0] namespacemap plugin
  administrator/language/de-DE/plg_extension_namespacemap.ini
  administrator/language/de-DE/plg_extension_namespacemap.sys.ini
Labels: Joomla! 4.x, core language change

#891 [4.0] API global language
  api/language/de-DE/install.xml
  api/language/de-DE/joomla.ini
  api/language/de-DE/langmetadata.xml
Labels: Joomla! 4.x, core language change

#987 Create auto_assign-issues.yml
  .github/auto_assign-issues.yml
Labels: enhancement

#986 [4.0] Missing language strings
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 4.x, core language change

#990 Fix filter of user consents
  administrator/language/de-DE/de-DE.com_privacy.ini
Labels: Joomla! 3.x, core language change

#984 [4.0] Select Modules page
  administrator/language/de-DE/de-DE.com_modules.ini
Labels: Joomla! 4.x, core language change

#992 [4.0] Language generally
  language/de-DE/finder_cli.ini
  language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change
