Repository joomlagerman/joomla, pull requests merged in 2020-05, with the labels that each got.

#1040 Adjust en-GB.localise.php with string based suffixes
  administrator/language/de-DE/de-DE.localise.php
  language/de-DE/de-DE.localise.php
Labels: Joomla! 3.x, core language change

#1041 Wrong message shown when saving profile in backend
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_messages.ini
Labels: Joomla! 3.x, core language change

#1046 "Dass das" Fehler in plg_user_joomla.ini
  administrator/language/de-DE/de-DE.plg_user_joomla.ini
  administrator/language/de-DE/de-DE.plg_user_joomla.sys.ini
Labels: Joomla! 3.x, bug

#1048 Fix so when creating a user with a username of more than 150 characters you get a useful error
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: Joomla! 3.x, core language change

#1049 Mark PLG_FIELDS_SQL_RULES_ADAPTED deprecated
  administrator/language/de-DE/de-DE.plg_fields_sql.ini
Labels: Joomla! 3.x, core language change

#1060 [4.0] Quickicon text for Template styles
  administrator/language/de-DE/mod_quickicon.ini
Labels: Joomla! 4.x, core language change

#1059 [4.0] Fix Colorscheme
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, core language change

#1058 [3.10] Add the explanation about the compatibility tag to the pre update checker
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1057 [4.0] Improve add module tooltip
  administrator/language/de-DE/mod_quickicon.ini
Labels: Joomla! 4.x, core language change

#1056 [4.0] Implementing administrator template preview
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1054 [4.0] Filtered item information [a11y]
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1053 [4.0] Quickicons - Add Shortcut to Template Code
  administrator/language/de-DE/mod_quickicon.ini
Labels: Joomla! 4.x, core language change

#1063 [4.0] Remove unused PLG_FIELDS_SQL_RULES_ADAPTED
  administrator/language/de-DE/plg_fields_sql.ini
Labels: Joomla! 4.x, core language change

#1062 [3.10] Pre-update check
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1064 [4.0] Installation: preventing translation of the "installation" folder
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1055 [4.0] [com_menus] Untranslated string
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1067 [3.x] com_privacy messages
  administrator/language/de-DE/de-DE.com_privacy.ini
  language/de-DE/de-DE.com_privacy.ini
Labels: Joomla! 3.x, core language change

#1068 [4.0] Use variable in "read more" string
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1070 [4.0] webauthn username notice
  administrator/language/de-DE/plg_system_webauthn.ini
Labels: Joomla! 4.x, core language change

#1071 [4.0] Improve strings for adding an extra language
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1069 [4.0][API][com_actionslogs] keep track of API requests
  administrator/language/de-DE/com_actionlogs.ini
Labels: Joomla! 4.x, core language change

#1075 [4.0] custom admin articles menu
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1072 [4.0] administrator/language/com_admin
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_admin.sys.ini
Labels: Joomla! 4.x, core language change
