Repository joomlagerman/joomla, pull requests merged in 2021-11, with the labels that each got.

#2116 [4.0] Change warning descriptions for minimum to 16MB
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2122 Tinymce html5 containers
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 4.x

#2123 [4.0] tinymce plugin configuration re-paint
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_editors_tinymce.sys.ini
Labels: core language change, Joomla! 4.x

#2127 Add a proper error message if a pack fails to download
  installation/language/de-DE/de-DE.ini
Labels: core language change, Joomla! 3.x

#2129 [3.10] Übersetzung von "COM_INSTALLER_TOOLBAR_PURGE" ist missverständlich
  administrator/language/de-DE/de-DE.com_installer.ini
Labels: enhancement, Joomla! 3.x

#2135 [3.10] Add a check whether we are running the core backend template and issue an info when that is not the case
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: core language change, Joomla! 3.x

#2137 [3.10] unification wording admin template in hathor
  administrator/language/de-DE/de-DE.com_users.ini
  administrator/language/de-DE/de-DE.tpl_hathor.ini
  administrator/language/de-DE/de-DE.tpl_hathor.sys.ini
  language/de-DE/de-DE.com_users.ini
Labels: enhancement, Joomla! 3.x
