Repository joomlagerman/joomla, pull requests merged in 2021-01, with the labels that each got.

#1508 [4.0] typo in PLG_SYSTEM_ACCESSIBILITY_MENU_TITLE
  administrator/language/de-DE/plg_system_accessibility.ini
Labels: Joomla! 4.x, bug

#1515 Add Comment for translators not to touch lines of code
  administrator/language/de-DE/de-DE.com_cpanel.ini
Labels: Joomla! 3.x, core language change

#1524 [4.0] Ensure language code is validated in the mail template
  administrator/language/de-DE/com_mails.ini
Labels: Joomla! 4.x, core language change

#1529 [4.0] php version check message
  administrator/language/de-DE/plg_quickicon_phpversioncheck.ini
Labels: Joomla! 4.x, core language change

#1523 [4.0] Login/Logout page image description [a11y]
  administrator/language/de-DE/com_users.ini
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1522 [4.0] Blocked Users
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1521 [4.0] newsflash string
  language/de-DE/mod_articles_news.ini
Labels: Joomla! 4.x, core language change

#1520 [4.0] Add sanity checks on the asset file
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1519 [4.0] Frontend Edit Article [a11y]
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1518 [4.0] PLG_SYSTEM_ACCESSIBILITY_MENU_TITLE
  administrator/language/de-DE/plg_system_accessibility.ini
Labels: Joomla! 4.x, enhancement

#1517 [4.0] Add empty alt checkbox for tinyMCE dnd
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change

#1516 [4.0] Media Manager strings
  administrator/language/de-DE/com_media.ini
  language/de-DE/com_media.ini
Labels: Joomla! 4.x, core language change

#1535 fix double string and a space
  administrator/language/de-DE/de-DE.plg_actionlog_joomla.ini
Labels: Joomla! 3.x, bug, core language change

#1534 [3] Allow to set password empty passwords and add database password back
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, core language change

#1533 [staging] Displaying error when updating an extension/package
  administrator/language/de-DE/de-DE.com_installer.ini
Labels: Joomla! 3.x, core language change

#1530 [4.0] Wrong tip for COM_INSTALLER_MSG_WARNINGS_UPLOADBIGGERTHANPOSTDESC
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x, core language change

#1537 unification database tooltip
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, enhancement

#1545 [4.0] Refactor and Cleanup JLIB_FILESYTEM strings
  administrator/language/de-DE/lib_joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1544 [staging] Change Datenbankpasswort to Passwort
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, enhancement

#1543 [4.0] PLG_SYSTEM_ACCESSIBILITY
  administrator/language/de-DE/plg_system_accessibility.ini
Labels: Joomla! 4.x, enhancement

#1540 [4.0] Order field
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1550 [3.x] Privacy consents
  administrator/language/de-DE/de-DE.com_privacy.ini
  administrator/language/de-DE/de-DE.plg_authentication_cookie.ini
Labels: Joomla! 3.x, core language change

#1556 [3.10] Show the target version to the pre upgrade checker
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1555 [4.0] associations message
  administrator/language/de-DE/com_associations.ini
Labels: Joomla! 4.x, core language change

#1551 [4.0] Label menu item title
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1558 [4.0] PLG_SYSTEM_ACCESSIBILITY – reading guide
  administrator/language/de-DE/plg_system_accessibility.ini
Labels: Joomla! 4.x, enhancement

#1557 [4.0] TinyMCE toolbar mode
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change

#1560 [3.x] Unification of toolbar vs. Werkzeugleiste
  administrator/language/de-DE/de-DE.com_cache.ini
  administrator/language/de-DE/de-DE.mod_title.ini
  administrator/language/de-DE/de-DE.mod_title.sys.ini
  media/editors/tinymce/langs/de.js
Labels: Joomla! 3.x, Joomla! 4.x, enhancement

#1561 [3.10] Make sure the message is more clear for 3.x extensions
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1570 fix new syntax for issue templates
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
Labels: enhancement

#1569 [4.0] fix mod_latestactions.ini
  administrator/language/de-DE/mod_latestactions.ini
Labels: Joomla! 4.x, core language change, enhancement

#1567 [4.0] Textfiltereinstellungen translation missing in com_config.ini
  administrator/language/de-DE/com_config.ini
Labels: Joomla! 4.x, enhancement

#1565 [4.0] unification Aufzeichnen, protokollieren
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/plg_system_debug.ini
Labels: Joomla! 4.x, enhancement

#1563 [4.0] Workflow - Titel Überleitungs-Liste: Genehmigung Blogbeiträge
  administrator/language/de-DE/com_workflow.ini
Labels: Joomla! 4.x, enhancement

#1562 [4.0] Beitragsoptionen - Unterkategorien-beschreibung
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1574 barre d'outils
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1577 Update de-DE.mod_title.sys.ini
  administrator/language/de-DE/de-DE.mod_title.ini
  administrator/language/de-DE/de-DE.mod_title.sys.ini
Labels: Joomla! 3.x, bug

#1578 Patch 1
  administrator/language/de-DE/mod_title.ini
  administrator/language/de-DE/mod_title.sys.ini
Labels: Joomla! 4.x, bug

#1579 Make sure the URL installer does not allow other schemas then http and https
  administrator/language/de-DE/de-DE.com_installer.ini
  administrator/language/de-DE/de-DE.plg_installer_urlinstaller.ini
Labels: Joomla! 3.x, Joomla! 4.x, core language change

#1580 [4.0] Markdown content entry
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change

#1581 [4.0] fix position name toolbar in atum template
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
Labels: Joomla! 4.x, enhancement

#1542 [4.0] skipto accessibility plugin major upgrade v4.0
  administrator/language/de-DE/plg_system_skipto.ini
Labels: Joomla! 4.x, core language change

#1583 [3.x] mod_banner Sortierung
  language/de-DE/de-DE.mod_banners.ini
Labels: Joomla! 3.x, bug

#1589 [4.0] Change CSP docs links to Mozilla MDN
  administrator/language/de-DE/com_csp.ini
  administrator/language/de-DE/plg_system_httpheaders.ini
Labels: Joomla! 4.x, core language change

#1586 [4.0] sync file administrator/com_config.ini with core file
  administrator/language/de-DE/com_config.ini
Labels: Joomla! 4.x, core language change
