Repository joomlagerman/joomla, pull requests merged in 2021-06, with the labels that each got.

#1830 [4.0] Language switcher: improving display of dropdown with flags
  language/de-DE/mod_languages.ini
Labels: Joomla! 4.x, core language change

#1832 Update to the new server url
  pkg_de-DE.xml
Labels: Joomla! 4.x, bug

#1828 [4.0] TinyMCE plugin layout
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: Joomla! 4.x, core language change

#1831 [4] Catch, translate, and expound when GD not available.
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1824 [4] Blank State for com_cache
  administrator/language/de-DE/com_cache.ini
Labels: Joomla! 4.x, core language change

#1826 [4.0] Changing title to tooltip for template preview
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1827 [4.0] Subcategories heading
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1842 [4.0] mod_popular with disabled hits - Part1
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1836 [4.0] Mail templates - Fix Paragraph and Remove Whitespace
  administrator/language/de-DE/com_actionlogs.ini
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1696 [4.0] Save space in users overview
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, enhancement

#1844 remove space in string
  language/de-DE/de-DE.ini
Labels: Joomla! 3.x, bug

#1845 [4.0] Module: "Statistiken", "Werkzeugleiste" zeigen HTML-Code
  administrator/language/de-DE/mod_stats_admin.sys.ini
  administrator/language/de-DE/mod_toolbar.ini
  administrator/language/de-DE/mod_toolbar.sys.ini
Labels: Joomla! 4.x, bug

#1854 [4.0] database fix text
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1852 [4] Remove release news from post installation messages screen
  administrator/language/de-DE/com_postinstall.ini
Labels: Joomla! 4.x, core language change

#1855 [4] com_modules empty state
  administrator/language/de-DE/com_modules.ini
Labels: Joomla! 4.x, core language change

#1864 [4.0] replacing Bootstrap popover on com_content by already implemented css only version
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1863 [4.0] Post installation module description
  administrator/language/de-DE/mod_post_installation_messages.ini
  administrator/language/de-DE/mod_post_installation_messages.sys.ini
Labels: Joomla! 4.x, core language change

#1861 [4] CTRL + OPTION + A on MacOS
  administrator/language/de-DE/plg_system_accessibility.ini
  administrator/language/de-DE/plg_system_accessibility.sys.ini
Labels: Joomla! 4.x, core language change

#1859 [4.0] External link in installation message (a11y)
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1856 [4.0] Removing GUI parts of FTP layer
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_templates.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/com_media.ini
Labels: Joomla! 4.x, core language change

#1860 [4.0] Delete unused strings
  administrator/language/de-DE/com_workflow.ini
Labels: Joomla! 4.x, core language change

#1846 [4.0] mod_popular with disabled hits – Part2
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1851 [4.0] mod_popular with disabled hits – part3 (last)
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1862 [4][Media] Renaming files when containing 100% non-latin ascii
  administrator/language/de-DE/com_media.ini
Labels: Joomla! 4.x, core language change

#1853 [4.0] Subform UX
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/plg_fields_subfields.ini
  administrator/language/de-DE/plg_fields_subfields.sys.ini
  administrator/language/de-DE/plg_fields_subform.ini
  administrator/language/de-DE/plg_fields_subform.sys.ini
Labels: Joomla! 4.x, core language change

#1865 [4] Empty State for System-> Discover
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x, core language change

#1874 [4.0] update available
  administrator/language/de-DE/plg_quickicon_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1873 [4.0] Sample Data newsfeed
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: Joomla! 4.x, core language change

#1868 [4.0] plg-editors-xtd description
  administrator/language/de-DE/plg_editors-xtd_article.ini
  administrator/language/de-DE/plg_editors-xtd_article.sys.ini
  administrator/language/de-DE/plg_editors-xtd_contact.ini
  administrator/language/de-DE/plg_editors-xtd_contact.sys.ini
  administrator/language/de-DE/plg_editors-xtd_image.ini
  administrator/language/de-DE/plg_editors-xtd_image.sys.ini
  administrator/language/de-DE/plg_editors-xtd_menu.ini
  administrator/language/de-DE/plg_editors-xtd_menu.sys.ini
  administrator/language/de-DE/plg_editors-xtd_module.ini
  administrator/language/de-DE/plg_editors-xtd_module.sys.ini
Labels: Joomla! 4.x, core language change

#1866 [4.0] Remove FTP support for com_joomlaupdate
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1875 [4.0] Admin modules
  administrator/language/de-DE/mod_frontend.ini
  administrator/language/de-DE/mod_frontend.sys.ini
  administrator/language/de-DE/mod_messages.ini
  administrator/language/de-DE/mod_messages.sys.ini
  administrator/language/de-DE/mod_multilangstatus.ini
  administrator/language/de-DE/mod_multilangstatus.sys.ini
  administrator/language/de-DE/mod_user.ini
  administrator/language/de-DE/mod_user.sys.ini
Labels: Joomla! 4.x, core language change

#1883 [4.0] Welcome to Joomla message
  administrator/language/de-DE/com_cpanel.ini
Labels: Joomla! 4.x, core language change

#1882 [4.0] open docu link in new window, com_templates
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1881 [4.0] unused strings
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1879 [4.0] unification Options
  administrator/language/de-DE/com_actionlogs.ini
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_privacy.ini
Labels: Joomla! 4.x, enhancement

#1877 [4.0] Messaging : options missing string
  administrator/language/de-DE/com_messages.ini
Labels: Joomla! 4.x, core language change

#1884 [4] remove __METHOD__ from visible error messages
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1886 [4.0] Pass value to language string
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1887 [4.0] [Atum] Unused constants
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, core language change

#1888 [4.0] GD, iconv and intl settings test
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1876 [4] Re-Implement Empty State for Post Installation Messages screen
  administrator/language/de-DE/com_postinstall.ini
Labels: Joomla! 4.x, core language change

#1889 [4.0] Missing constant in com_installer.sys.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_installer.sys.ini
Labels: Joomla! 4.x, core language change

#1899 [4.0] admin module descriptions
  administrator/language/de-DE/mod_messages.ini
  administrator/language/de-DE/mod_messages.sys.ini
  administrator/language/de-DE/mod_post_installation_messages.ini
  administrator/language/de-DE/mod_post_installation_messages.sys.ini
  administrator/language/de-DE/mod_version.ini
  administrator/language/de-DE/mod_version.sys.ini
Labels: Joomla! 4.x, core language change

#1898 [4.0] add rel attribute in joomla.ini
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1897 [4.0] Improving the display of an arrow in language string in "plg_system_updatenotification.*"
  administrator/language/de-DE/com_associations.ini
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/mod_login.ini
  administrator/language/de-DE/mod_login.sys.ini
  administrator/language/de-DE/plg_system_stats.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  api/language/de-DE/joomla.ini
  language/de-DE/mod_login.ini
  language/de-DE/mod_login.sys.ini
Labels: Joomla! 4.x, core language change

#1901 [4.0] Unterstreichungen aus den Textdarstellungen entfernen
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/plg_authentication_cookie.ini
  administrator/language/de-DE/plg_authentication_cookie.sys.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_newsfeeds.ini
  language/de-DE/com_users.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, enhancement

#1902 [4.0] com contact unused fields
  administrator/language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1858 [4] Smart Search: Search Filters Empty State
  administrator/language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1923 [4.0] alphabetical sorting in com_joomlaupdate
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1922 [4.0] Smart Search when plugin is disabled
  administrator/language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1921 [4.0] Learn more
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1920 [4.0] Workflow Transitions sort
  administrator/language/de-DE/com_workflow.ini
Labels: Joomla! 4.x, core language change

#1919 [4.0] License.php
  language/de-DE/com_finder.commonwords.txt
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1918 [4.0] Constant unused in J4 / com_admin
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1917 [4.0] com_menus counts [a11y]
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1903 [4.0] Converting additional mails to mail templates
  administrator/language/de-DE/com_messages.ini
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change
