Repository joomlagerman/joomla, pull requests merged in 2021-05, with the labels that each got.

#1763 [3.9][SECURITY] Block usage of FLoC by default
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, core language change

#1752 [4] deprecated iframe attributes
  administrator/language/de-DE/com_wrapper.ini
  language/de-DE/mod_wrapper.ini
Labels: Joomla! 4.x, core language change

#1787 [4.0] Parent Category
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1780 [4.0] com_messages blank state
  administrator/language/de-DE/com_messages.ini
Labels: Joomla! 4.x, core language change

#1753 [4.0] Remove com_admin profile view
  administrator/language/de-DE/com_admin.ini
Labels: Joomla! 4.x, core language change

#1790 [4.0] Add Module Position above the logo
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1779 [4.0] Rephrase SEND_FAILURE_BODY when registration fails
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1776 [4.0] Rephrase location to file in administrator/com_installer.ini
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x

#1778 [4.0]Changed the helper text in Redirect plugins Advanced settings
  administrator/language/de-DE/com_redirect.ini
Labels: Joomla! 4.x, core language change

#1768 [4.0] Contact Category list limits
  administrator/language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1769 [4.0] Improvement Vote Plugin
  administrator/language/de-DE/plg_content_vote.ini
Labels: Joomla! 4.x, core language change

#1766 [4] Allow period in quoted identifier for db name
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1781 [4.0] com_users notes blank state
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1775 [4.0] Improve success message for when you upload a file to a template
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1788 [4.0] Moving reusable parts of blankstate layout to a JLayout
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1796 [4.0] Adapt text and bootstrap size in blog sample data #1746
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: Joomla! 4.x, core language change

#1806 [4.0] tags menu items image alt [a11y]
  administrator/language/de-DE/com_tags.ini
Labels: Joomla! 4.x, core language change

#1807 [4.0] Updating all views to use H1 for Component Title when Menu Title is hidden
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1804 [4] Change action log wording of a failed login to admin console
  administrator/language/de-DE/plg_actionlog_joomla.ini
Labels: Joomla! 4.x, core language change

#1803 [4.0] Subforms/subfields
  administrator/language/de-DE/plg_fields_subfields.ini
  administrator/language/de-DE/plg_fields_subfields.sys.ini
Labels: Joomla! 4.x, core language change

#1797 [4.0] behaviour plugin
  administrator/language/de-DE/plg_behaviour_taggable.ini
  administrator/language/de-DE/plg_behaviour_taggable.sys.ini
  administrator/language/de-DE/plg_behaviour_versionable.ini
  administrator/language/de-DE/plg_behaviour_versionable.sys.ini
Labels: Joomla! 4.x, core language change

#1799 [4] When item doesn't exist, show specific message
  administrator/language/de-DE/lib_joomla.ini
Labels: Joomla! 4.x, core language change

#1792 [4.0][Cassiopeia]Add new layouts to switch off Bootstrap Navbar Toggler
  language/de-DE/mod_menu.ini
  language/de-DE/mod_menu.sys.ini
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1791 [4] New moduleposition below-top, option to switch off logo
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, core language change

#1808 [3.10] Änderungen für com_joomlaupdate
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1785 [4] Rename recent BlankState feature to EmptyState
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_privacy.ini
Labels: Joomla! 4.x, core language change

#1810 [4.0] Joomla CSP & HTTP Headers Plugin
  administrator/language/de-DE/com_csp.ini
  administrator/language/de-DE/com_csp.sys.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_system_httpheaders.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1751 [4.0] Workflows strings
  administrator/language/de-DE/com_workflow.ini
Labels: Joomla! 4.x, core language change

#1816 [4.0] fix #1791
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, bug

#1812 [4.0] unification Aktualisierungsquellen
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.sys.ini
Labels: Joomla! 4.x, enhancement

#1809 [4.0] Update tpl_cassiopeia.sys.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: Joomla! 4.x, enhancement

#1814 [3.10] unification Aktualisierungskomponente
  administrator/language/de-DE/de-DE.com_config.ini
Labels: Joomla! 3.x, enhancement

#1817 [4] help text change for COM_MAILS_CONFIG_FIELD_ATTACHMENT_FOLDER_DESC
  administrator/language/de-DE/com_mails.ini
Labels: Joomla! 4.x, core language change

#1805 [3.10] Pre-Upgrade Compatibility Check on Plugins That Could Kill Joomla Upgrade
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1818 [4.0] pre-update check link
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1819 [4.0] Update location path in description
  administrator/language/de-DE/com_modules.ini
Labels: Joomla! 4.x, core language change

#1820 [4] Empty state for com_redirect
  administrator/language/de-DE/com_redirect.ini
Labels: Joomla! 4.x, core language change

#1823 [4] [Workflow] Removed unused constants
  administrator/language/de-DE/com_workflow.ini
Labels: Joomla! 4.x, core language change

#1825 [4] Generic Blank State for Categories of Extensions & Tags
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_tags.ini
Labels: Joomla! 4.x, core language change
