Repository joomlagerman/joomla, pull requests merged in 2021-07, with the labels that each got.

#1931 [4.0] Dialogue Add module
  administrator/language/de-DE/mod_login.sys.ini
Labels: enhancement

#1936 [4.0] Remove tooltip from add-new-buttons
  language/de-DE/com_contact.ini
  language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1935 [4.0] Button "Datenschutzanfragen" (marginal)
  administrator/language/de-DE/plg_quickicon_privacycheck.ini
Labels: Joomla! 4.x, core language change

#1934 [4.0] No Articles have been created yet.
  administrator/language/de-DE/com_content.ini
Labels: Joomla! 4.x, core language change

#1933 Update FLoC links
  administrator/language/de-DE/de-DE.com_admin.ini
Labels: Joomla! 3.x, core language change

#1932 [4.0] Button "Joomla-Update"
  administrator/language/de-DE/plg_quickicon_joomlaupdate.ini
Labels: Joomla! 4.x, enhancement

#1942 [4.0] Translation links
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x, core language change

#1943 [4.0] Remove renderfield.php from com_contact
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change

#1944 [4.1] Actionlogs: Added parameter to disable relative timestamps.
  administrator/language/de-DE/com_actionlogs.ini
Labels: Joomla! 4.x, core language change

#1949 [4.0] Fix caption for the Ordering column and ascending/descending strings
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1950 [4.0] Shorten string Global
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1957 [4.0] Fehlender Language-String in /adm../lan../de-DE/com_modules.ini
  administrator/language/de-DE/com_modules.ini
Labels: Joomla! 4.x, core language change, enhancement

#1958 [4.0] Remove com_messages.ini in frontend
  language/de-DE/com_messages.ini
Labels: Joomla! 4.x, core language change

#1955 [4.0] Two JGLOBAL_BLOG translation bugs
  administrator/language/de-DE/joomla.ini
Labels: Joomla! 4.x, bug, core language change

#1956 [4.0] Bereinigen von Tippfehlern (das→dass)
  administrator/language/de-DE/com_config.ini
Labels: Joomla! 4.x, enhancement

#1948 [4.0] admin container menu
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x

#1971 [4.0] two missing strings from merge 1661 in 3.x
  administrator/language/de-DE/com_config.ini
Labels: Joomla! 4.x, core language change, enhancement

#1972 [4.0] Fix menu rebuild message in menus
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1976 [4.0] Beitragskategorie -> Kategorien
  administrator/language/de-DE/mod_quickicon.ini
Labels: Joomla! 4.x, enhancement

#1973 [4.0] Improve updater layout
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1992 [4.0] Nachinstallationshinweise
  administrator/language/de-DE/com_cpanel.ini
Labels: Joomla! 4.x, enhancement

#1991 [4.0] Overriding JTOOLBAR_DEFAULT to Home
  administrator/language/de-DE/com_menus.ini
Labels: Joomla! 4.x, core language change

#1990 [4.0] Translation Config Mailing
  administrator/language/de-DE/com_actionlogs.ini
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_mails.ini
  administrator/language/de-DE/com_mails.sys.ini
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/com_users.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_system_updatenotification.sys.ini
  administrator/language/de-DE/plg_user_joomla.ini
  language/de-DE/com_contact.ini
Labels: Joomla! 4.x, core language change, enhancement

#1989 [4.0] wording Installationen / Erweiterungen
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_installer.sys.ini
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, enhancement

#1988 [4.0] "Install" -> "Erweiterung" ?
  administrator/language/de-DE/mod_menu.ini
Labels: Joomla! 4.x, enhancement

#1987 [4.0] Code für Textauszeichnung sichtbar
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1986 [4.0] doc site links
  administrator/language/de-DE/com_actionlogs.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_privacy.ini
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1985 [4.0] Add target _blank to display icon link as external
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
Labels: Joomla! 4.x, core language change

#1984 [3.10] Change the Potentially Serious Problem string to Potential Upgrade Issue @softforge
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: Joomla! 3.x, core language change

#1983 [4.0] Kern vs. Core
  administrator/language/de-DE/com_installer.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.sys.ini
Labels: Joomla! 4.x, enhancement

#1982 Changed %s to %d to be consistent
  administrator/language/de-DE/com_categories.ini
Labels: Joomla! 4.x, core language change

#1978 [4.0] Benutzerliste Filteroptionen Begriffe in Auswahl doppelt
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, enhancement

#1994 Joomla 3.10 EOS Plugin
  administrator/language/de-DE/de-DE.plg_quickicon_eos310.ini
  administrator/language/de-DE/de-DE.plg_quickicon_eos310.sys.ini
Labels: Joomla! 3.x, core language change

#1996 [4.0] Merge PR #1984
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#2001 Update com_joomlaupdate.ini
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, bug

#2003 [4.0] remove media/editors/tinymce/langs/de.js
  media/editors/tinymce/langs/de.js
Labels: Joomla! 4.x, enhancement

#2002 [4.0] Calendar translation without extra js files
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
  media/system/js/fields/calendar-locales/de.js
Labels: Joomla! 4.x, core language change
