Repository joomlagerman/joomla, pull requests merged in 2021-03, with the labels that each got.

#1615 typo in de-DE.plg_system_privacyconsent
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
Labels: Joomla! 3.x, Joomla! 4.x, bug

#1617 Update com_installer.ini
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x

#1619 fix COM_INSTALLER_MSG_WARNINGS_UPDATE_NOTICE
  administrator/language/de-DE/de-DE.com_installer.ini
Labels: Joomla! 3.x, enhancement

#1620 [4.0] Frontend editing is not inline editing
  administrator/language/de-DE/com_config.ini
Labels: Joomla! 4.x, core language change

#1631 [4.0] com_fields Search [a11y]
  administrator/language/de-DE/com_fields.ini
Labels: Joomla! 4.x, core language change

#1633 [4.0] Skip to update
  administrator/language/de-DE/plg_system_skipto.ini
Labels: Joomla! 4.x, core language change

#1634 [4.0] More userfriendly description for menu Item type Category List
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_contact.sys.ini
  administrator/language/de-DE/com_content.sys.ini
  administrator/language/de-DE/com_newsfeeds.sys.ini
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1637 Add iframe lazyloading to the core wrapper feature
  administrator/language/de-DE/com_wrapper.ini
  language/de-DE/mod_wrapper.ini
Labels: Joomla! 4.x, core language change

#1636 [4.0] skipto plugin typo
  administrator/language/de-DE/plg_system_skipto.ini
Labels: Joomla! 4.x, core language change

#1639 [4.0] Cleanup postinstall messages in update
  administrator/language/de-DE/com_cpanel.ini
Labels: Joomla! 4.x, core language change

#1641 Change placeholder text for login redirect
  administrator/language/de-DE/com_users.ini
  language/de-DE/mod_login.ini
Labels: Joomla! 4.x, core language change

#1638 [4.0] Extensions: Update Sites string
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x, core language change

#1646 [4.0] Add parameters to hide "no contacts" message and "subcategories" title in Contacts - New
  administrator/language/de-DE/com_contact.sys.ini
Labels: Joomla! 4.x, core language change

#1647 [4.0] string variables
  administrator/language/de-DE/com_associations.ini
  administrator/language/de-DE/com_installer.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change

#1648 [4.0] Delete unused password lang strings + update api joomla.ini
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: Joomla! 4.x, core language change
