Repository joomlagerman/joomla, pull requests merged in 2021-09, with the labels that each got.

#2051 [4.0] Quick Icons description
  administrator/language/de-DE/mod_quickicon.ini
Labels: core language change, Joomla! 4.x

#2052 Script.php updates
  administrator/language/de-DE/plg_fields_image.ini
  administrator/language/de-DE/plg_fields_image.sys.ini
  script.php
Labels: bug, enhancement, Joomla! 4.x

#2057 [4.1] Allow Save As Copy Article In The Frontend
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2053 [4.0] Inconsistent translations in status filter of extensions list
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: bug, Joomla! 4.x

#2056 [4] Change text when com_joomlaupdate update available
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2060 [3] Change text when com_joomlaupdate update available
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: core language change, Joomla! 3.x

#2067 [3.10] PR 2066 for J3
  administrator/language/de-DE/de-DE.com_media.ini
  language/de-DE/de-DE.com_media.ini
Labels: bug, Joomla! 3.x

#2066 [4.0] Widerspruch in Medien Optionen - Maximale Größe (in MB)
  administrator/language/de-DE/com_media.ini
  language/de-DE/com_media.ini
Labels: bug, Joomla! 4.x

#2065 [4.0] Make transitions translateable
  administrator/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2070 Typo in string "Joomla-Udpate-Mitteilung"
  administrator/language/de-DE/plg_system_updatenotification.ini
Labels: bug, Joomla! 4.x

#2073 s/joomla.org/the Joomla! project
  administrator/language/de-DE/plg_system_updatenotification.ini
Labels: core language change, Joomla! 4.x

#2074 s/joomla.org/the Joomla! project
  administrator/language/de-DE/de-DE.plg_system_updatenotification.ini
Labels: core language change, Joomla! 3.x

#2075 ZIP extraction helper for Joomla Update
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2079 Meldung für Template kopieren ist falsch
  administrator/language/de-DE/com_templates.ini
Labels: enhancement, Joomla! 4.x

#2082 Falsche Anführungszeichen
  language/de-DE/lib_joomla.ini
Labels: bug, Joomla! 4.x

#2084 [4.0] Remove JHELP_ strings for com_categories
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x
