Repository joomlagerman/joomla, pull requests merged in 2021-08, with the labels that each got.

#1995 [4.0] Build & Bump script
  .gitignore
  api/language/de-DE/langmetadata.xml
  build/build.php
  build/bump.php
  installation/language/de-DE/langmetadata.xml
  pkg_de-DE.xml
Labels: enhancement, Joomla! 4.x

#2009 [4.0] PR simplify releases
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  api/language/de-DE/install.xml
  api/language/de-DE/langmetadata.xml
  language/de-DE/install.xml
  language/de-DE/langmetadata.xml
  pkg_de-DE.xml
Labels: enhancement, Joomla! 4.x

#2010 [4.0] Add localise.sql to the bump script & fix creation date
  build/bump.php
Labels: enhancement, Joomla! 4.x

#2008 [4.0] Add script.php for the german language package
  build/build.php
  pkg_de-DE.xml
  script.php
Labels: enhancement, Joomla! 4.x

#2012 [4.0] Fehlender Language String in plg_fields_imagelist.ini
  administrator/language/de-DE/plg_fields_imagelist.ini
Labels: core language change, Joomla! 4.x

#2014 [4.0] Crowdin comments
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_cache.ini
  administrator/language/de-DE/com_checkin.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_messages.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_plugins.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_installer_webinstaller.ini
  administrator/language/de-DE/plg_quickicon_phpversioncheck.ini
  administrator/language/de-DE/plg_system_httpheaders.ini
  administrator/language/de-DE/plg_system_httpheaders.sys.ini
  administrator/language/de-DE/plg_system_skipto.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_user_profile.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
  language/de-DE/mod_footer.ini
  language/de-DE/mod_footer.sys.ini
  language/de-DE/mod_whosonline.ini
Labels: bug, core language change, Joomla! 4.x

#2019 Replace Januar with Jänner for de-AT & some spaces
  build/build.php
Labels: enhancement, Joomla! 4.x

#2016 [4.0] Sample Data div
  administrator/language/de-DE/plg_sampledata_blog.ini
  administrator/language/de-DE/plg_sampledata_blog.sys.ini
Labels: core language change, Joomla! 4.x

#2015 [4.0] Adding a manage button to the sample data module
  administrator/language/de-DE/mod_sampledata.ini
Labels: core language change, Joomla! 4.x

#2022 [4.0] HTML-Formatierung bei Joomla Update nicht dargestellt
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: bug, Joomla! 4.x

#2018 [4.0] Simplification of the database labels during installation
  installation/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.x

#2020 [4.0] Add untranslated strings reported in crowdin
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contenthistory.ini
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/com_installer.sys.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_plugins.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/mod_latest.ini
  administrator/language/de-DE/plg_actionlog_joomla.ini
  administrator/language/de-DE/plg_fields_usergrouplist.ini
  administrator/language/de-DE/plg_media-action_crop.ini
  administrator/language/de-DE/plg_media-action_rotate.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_user_joomla.ini
  administrator/language/de-DE/tpl_atum.sys.ini
  language/de-DE/mod_articles_category.ini
  pkg_de-DE.xml
Labels: core language change, Joomla! 4.x

#2025 [4.0] some translation fixes regarding #2020
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/plg_actionlog_joomla.ini
  language/de-DE/com_media.ini
Labels: enhancement, Joomla! 4.x

#2027 [4.0] Falsche Übersetzung in Menüpunkten
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.x

#2028 [3.10] Falsche Übersetzung in Menüpunkten
  administrator/language/de-DE/de-DE.com_categories.ini
  administrator/language/de-DE/de-DE.com_tags.ini
  administrator/language/de-DE/de-DE.ini
Labels: enhancement, Joomla! 3.x

#2017 [4.0] Workflow vs. Stufe
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/com_workflow.sys.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/plg_workflow_featuring.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  administrator/language/de-DE/plg_workflow_publishing.ini
  api/language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: enhancement, Joomla! 4.x

#2029 fix tarball macos in build-script
  build/build.php
Labels: enhancement, Joomla! 4.x

#2030 Add Abbreviation for Jänner in build-script
  build/build.php
Labels: enhancement, Joomla! 4.x

#2031 [4.0] fix wording workflow stage
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/com_workflow.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
Labels: enhancement, Joomla! 4.x

#2033 [4.0] Versionen: Keep forever != immer speichern
  administrator/language/de-DE/com_contenthistory.ini
Labels: enhancement, Joomla! 4.x

#2038 [3.10] [4.0] Fix wrong number of parameters for sprintf
  administrator/language/de-DE/de-DE.lib_joomla.ini
  language/de-DE/de-DE.lib_joomla.ini
Labels: core language change, Joomla! 3.x

#2037 [4.0] fix translator note in joomla.ini / plg_editors_tinymce.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 4.x

#2043 [4.0] change %s to %d
  administrator/language/de-DE/com_actionlogs.ini
  administrator/language/de-DE/com_checkin.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_contenthistory.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_modules.ini
  administrator/language/de-DE/com_plugins.ini
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/plg_installer_override.ini
  administrator/language/de-DE/plg_quickicon_downloadkey.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2044 remove search and weblinks for now
  script.php
Labels: enhancement, Joomla! 4.x

#2045 ♻️ Versionsnummer in Update Fenster angepasst
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: bug, Joomla! 4.x
