Repository joomlagerman/joomla, pull requests merged in 2021-02, with the labels that each got.

#1600 [4.0] Upload and Update message
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: Joomla! 4.x, core language change

#1598 [4.0] Prevent two messages displayed for creating override
  administrator/language/de-DE/com_templates.ini
Labels: Joomla! 4.x, core language change

#1597 [4.0] Unused atum string
  administrator/language/de-DE/tpl_atum.ini
Labels: Joomla! 4.x, core language change

#1593 [4.0] Simplify error messages
  language/de-DE/com_users.ini
Labels: Joomla! 4.x, core language change

#1594 [4.0] Smart Search - Search Terms
  administrator/language/de-DE/com_finder.ini
Labels: Joomla! 4.x, core language change

#1604 "Vielen" in com_users.ini
  language/de-DE/de-DE.com_users.ini
Labels: Joomla! 3.x, Joomla! 4.x, enhancement

#1602 [4.0] latest version
  administrator/language/de-DE/mod_version.ini
  administrator/language/de-DE/mod_version.sys.ini
Labels: Joomla! 4.x, core language change

#1610 Fix en-GB.com_associations.ini
  administrator/language/de-DE/de-DE.com_associations.ini
Labels: Joomla! 3.x, core language change

#1606 Verbessere Styling der Hinweis-Tabelle
  pkg_de-DE.xml
Labels: Joomla! 3.x, Joomla! 4.x, enhancement
