Repository joomlagerman/joomla, pull requests merged in 2022-11, with the labels that each got.

#2657 [4.2] Add missing error messages to frontend for PR #37017
  language/de-DE/com_contact.ini
  language/de-DE/com_content.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2661 [4.x] Duplicates in commonwords
  language/de-DE/com_finder.commonwords.txt
Labels: bug, Joomla! 4.x

#2651 [5.0] Remove IE 11 warning message due to EOL
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.x

#2648 [5.0] Remove utf8mb4 conversion
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 5.x

#2668 Updating 4.3-dev with changes from 4.2-dev
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2671 [4.3] Fix language constants overrides in com_template.inis and com_c…
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 4.x

#2673 [4.3] Fix workflow/stage unpublish/trash/deletion prevention
  administrator/language/de-DE/com_workflow.ini
Labels: core language change, Joomla! 4.x

#2674 [4.3] Quickicons
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/mod_quickicon.ini
Labels: core language change, Joomla! 4.x

#2675 [4.3] Allow creating of name.min.css
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 4.x

#2681 Revert "[4.3] Template Diff View"
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/com_users.sys.ini
  administrator/language/de-DE/com_workflow.ini
  administrator/language/de-DE/mod_quickicon.ini
  installation/language/de-DE/joomla.ini
  script.php
Labels: core language change, Joomla! 4.x

#2682 [4.3] re apply the changes to com_templates for 4.3 #2630
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 4.x

#2680 [4.2] missing rel="noopener noreferrer" in link language string
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_totp.sys.ini
Labels: core language change, Joomla! 4.x

#2670 [4.3] Add a CLI installation for Joomla
  installation/language/de-DE/joomla.cli.ini
  installation/language/de-DE/langmetadata.xml
Labels: core language change, Joomla! 4.x

#2683 [4.3] Re-add missing information (by Upmerge)
  administrator/language/de-DE/com_tags.ini
Labels: core language change, Joomla! 4.x

#2672 [4.3] Message after a login / logout frontend
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x
