Repository joomlagerman/joomla, pull requests merged in 2022-02, with the labels that each got.

#2255 Unclosed <strong>: PLG_SYSTEM_HTTPHEADERS_HSTS_PRELOAD_NOTE_DESC
  administrator/language/de-DE/plg_system_httpheaders.ini
Labels: bug, Joomla! 4.x

#2257 [4.1] alpha sort in plg_system_httpheaders.ini
  administrator/language/de-DE/plg_system_httpheaders.ini
Labels: enhancement, Joomla! 4.x

#2259 [4.1] Fix crowdin sync
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2260 [4.1] fix class desc
  administrator/language/de-DE/com_fields.ini
Labels: enhancement, Joomla! 4.x

#2266 [4.1] Falscher Platzhalter bei E-Mail Template "plg_user_joomla.mail"
  administrator/language/de-DE/plg_user_joomla.ini
Labels: bug, Joomla! 4.x

#2267 All de-XX installation ini files contain some escape characters before single quotes for 4 strings
  installation/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.x

#2199 [4.1] Joomla-Accessibility Checker (jooa11y).
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_jooa11y.sys.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2275 [4.1] Titel Schnellstartsymbole (Update) Dashboard
  installation/sql/mysql/localise.sql
Labels: enhancement, Joomla! 4.x

#2274 [4.1] Installation: localise.sql
  installation/sql/mysql/localise.sql
Labels: bug, Joomla! 4.x

#2277 [J4.1, TinyMCE]: Hinweis zum Skin-Pfad ist im Deutschen anders als im Englischen
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: enhancement, core language change, Joomla! 4.x

#2278 fix #2276
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: enhancement, Joomla! 4.x

#2281 [4.1] "Sprachen-Overrides"
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_languages.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_workflow_notification.ini
Labels: enhancement, Joomla! 4.x

#2279 [4.1] improve plg_editors_tinymce
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: enhancement, Joomla! 4.x

#2270 [4.1] fix double-quotes
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_associations.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_languages.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_privacy.ini
  administrator/language/de-DE/com_scheduler.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/plg_content_pagebreak.ini
  administrator/language/de-DE/plg_content_pagebreak.sys.ini
  administrator/language/de-DE/plg_editors-xtd_fields.ini
  administrator/language/de-DE/plg_editors-xtd_fields.sys.ini
  administrator/language/de-DE/plg_editors_codemirror.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_sampledata_blog.ini
  administrator/language/de-DE/plg_sampledata_multilang.ini
  administrator/language/de-DE/plg_system_actionlogs.ini
  administrator/language/de-DE/plg_system_highlight.sys.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_finder.ini
  language/de-DE/com_users.ini
  language/de-DE/lib_joomla.ini
  language/de-DE/mod_footer.ini
Labels: enhancement, Joomla! 4.x

#2283 [4.1] Manifest-Dateien
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  api/language/de-DE/install.xml
  api/language/de-DE/langmetadata.xml
  installation/language/de-DE/langmetadata.xml
  language/de-DE/install.xml
  language/de-DE/langmetadata.xml
  pkg_de-DE.xml
Labels: enhancement, Joomla! 4.x

#2290 [4.1] Log in to read messages
  administrator/language/de-DE/com_messages.ini
Labels: core language change, Joomla! 4.x

#2289 [4.2] User defined Hide Table Columns
  administrator/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2288 [3.10] Remove FLoC
  administrator/language/de-DE/de-DE.com_admin.ini
  administrator/language/de-DE/de-DE.com_config.ini
Labels: core language change, Joomla! 3.x

#2291 [4.1] Jooa11y updates
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: core language change, Joomla! 4.x

#2298 [4.1] Rename render to display
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2297 [4.1] Scheduled Tasks Help
  administrator/language/de-DE/com_admin.ini
Labels: core language change, Joomla! 4.x

#2296 [4.1] Lazy Scheduler disabled
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2300 [4.1] English error
  administrator/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x
