Repository joomlagerman/joomla, pull requests merged in 2022-05, with the labels that each got.

#2433 [4.x] Upload and Update
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2431 [3.10] remove super user email on pw reset
  language/de-DE/de-DE.com_users.ini
Labels: core language change, Joomla! 3.x

#2432 [4.1] Fields - before display what
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2426 [4.x] Batch Users move
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2436 [4.1] com_content: hardcoded language string
  language/de-DE/com_content.ini
Labels: core language change, Joomla! 4.x

#2437 [4.1] Fix options in mailtemplate form
  administrator/language/de-DE/com_mails.ini
Labels: core language change, Joomla! 4.x

#2440 [4.1] Workflow strings code style
  administrator/language/de-DE/plg_workflow_featuring.ini
  administrator/language/de-DE/plg_workflow_featuring.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  administrator/language/de-DE/plg_workflow_notification.sys.ini
  administrator/language/de-DE/plg_workflow_publishing.ini
Labels: core language change, Joomla! 4.x

#2442 [4.x] Improve remind an PW request / reset messages
  language/de-DE/com_users.ini
Labels: enhancement, core language change, Joomla! 4.x

#2443 [4.x] replace placeholder eg. for username reminder fail
  language/de-DE/com_users.ini
Labels: bug, Joomla! 4.x

#2446 [4.1] Update plg_sampledata_blog.ini
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, Joomla! 4.x

#2448 [J4.1] Better "Your Modules" Article
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, Joomla! 4.x

#2449 [4][scheduler] sort by last run
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2452 Mehrsprachenstatus: Warnung enthält Fehler
  administrator/language/de-DE/com_languages.ini
Labels: bug, Joomla! 4.x
