Repository joomlagerman/joomla, pull requests merged in 2022-07, with the labels that each got.

#2525 [4.2] Fixing labels for Smart Search menu item
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2524 [4.2] Remove label from a hidden field
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2523 [4.2] Missing description for combination J+M
  administrator/language/de-DE/plg_system_shortcut.ini
  administrator/language/de-DE/plg_system_shortcut.sys.ini
Labels: core language change, Joomla! 4.x

#2528 [4.2] Smart Search: Prevent "#__finder_tokens full" error
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2526 [4.2] Workflow Notification no recipient
  administrator/language/de-DE/plg_workflow_notification.ini
Labels: core language change, Joomla! 4.x

#2530 [4.2] Menu item custom field
  administrator/language/de-DE/plg_fields_menuitem.ini
  administrator/language/de-DE/plg_fields_menuitem.sys.ini
Labels: core language change, Joomla! 4.x

#2534 [4.2]: Fehlendes, schließendes " in administrator/language/de-DE/plg_fields_menuitem.ini
  administrator/language/de-DE/plg_fields_menuitem.ini
Labels: bug, Joomla! 4.x

#2538 [4.2]: neue Übersetzung in plg_fields_***-Dateien
  administrator/language/de-DE/plg_fields_calendar.ini
  administrator/language/de-DE/plg_fields_calendar.sys.ini
  administrator/language/de-DE/plg_fields_checkboxes.ini
  administrator/language/de-DE/plg_fields_checkboxes.sys.ini
  administrator/language/de-DE/plg_fields_color.ini
  administrator/language/de-DE/plg_fields_color.sys.ini
  administrator/language/de-DE/plg_fields_editor.ini
  administrator/language/de-DE/plg_fields_editor.sys.ini
  administrator/language/de-DE/plg_fields_imagelist.ini
  administrator/language/de-DE/plg_fields_imagelist.sys.ini
  administrator/language/de-DE/plg_fields_integer.ini
  administrator/language/de-DE/plg_fields_integer.sys.ini
  administrator/language/de-DE/plg_fields_list.ini
  administrator/language/de-DE/plg_fields_list.sys.ini
  administrator/language/de-DE/plg_fields_media.ini
  administrator/language/de-DE/plg_fields_media.sys.ini
  administrator/language/de-DE/plg_fields_menuitem.ini
  administrator/language/de-DE/plg_fields_menuitem.sys.ini
  administrator/language/de-DE/plg_fields_radio.ini
  administrator/language/de-DE/plg_fields_radio.sys.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_fields_sql.sys.ini
  administrator/language/de-DE/plg_fields_subform.ini
  administrator/language/de-DE/plg_fields_subform.sys.ini
  administrator/language/de-DE/plg_fields_text.ini
  administrator/language/de-DE/plg_fields_text.sys.ini
  administrator/language/de-DE/plg_fields_textarea.ini
  administrator/language/de-DE/plg_fields_textarea.sys.ini
  administrator/language/de-DE/plg_fields_url.ini
  administrator/language/de-DE/plg_fields_url.sys.ini
  administrator/language/de-DE/plg_fields_user.ini
  administrator/language/de-DE/plg_fields_user.sys.ini
  administrator/language/de-DE/plg_fields_usergrouplist.ini
  administrator/language/de-DE/plg_fields_usergrouplist.sys.ini
Labels: enhancement, Joomla! 4.x

#2527 [4.2] Refactored WebAuthn with Windows Hello support
  administrator/language/de-DE/plg_system_webauthn.ini
Labels: core language change, Joomla! 4.x

#2543 [4.x] Fix syntax error in com_installer.ini
  administrator/language/de-DE/com_installer.ini
Labels: bug, Joomla! 4.x

#2483 [4.2] Multi-Factor Authentication (replaces Two Factor Authentication)
  administrator/language/de-DE/com_login.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_authentication_joomla.ini
  administrator/language/de-DE/plg_multifactorauth_email.ini
  administrator/language/de-DE/plg_multifactorauth_email.sys.ini
  administrator/language/de-DE/plg_multifactorauth_fixed.ini
  administrator/language/de-DE/plg_multifactorauth_fixed.sys.ini
  administrator/language/de-DE/plg_multifactorauth_totp.ini
  administrator/language/de-DE/plg_multifactorauth_totp.sys.ini
  administrator/language/de-DE/plg_multifactorauth_webauthn.ini
  administrator/language/de-DE/plg_multifactorauth_webauthn.sys.ini
  administrator/language/de-DE/plg_multifactorauth_yubikey.ini
  administrator/language/de-DE/plg_multifactorauth_yubikey.sys.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_totp.sys.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.sys.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_users.ini
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2544 [4.2] remove spaces in COM_USERS_MFA_INVALID_CODE
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2547 [4.2] enDash durch Rechtspfeil ersetzen
  language/de-DE/mod_languages.ini
  language/de-DE/mod_languages.sys.ini
Labels: enhancement, Joomla! 4.x

#2548 [4.2] fix three arrow
  administrator/language/de-DE/com_users.ini
  pkg_de-DE.xml
Labels: enhancement, Joomla! 4.x

#2552 [4.2] enDash ersetzt Divis (Ergänzung)
  administrator/language/de-DE/plg_fields_menuitem.ini
  administrator/language/de-DE/plg_multifactorauth_email.ini
  language/de-DE/mod_languages.ini
  language/de-DE/mod_languages.sys.ini
Labels: enhancement, Joomla! 4.x

#2553 [4.x]: Hauptbeitrag oder Haupteintrag
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.x
