Repository joomlagerman/joomla, pull requests merged in 2022-01, with the labels that each got.

#2202 [4.1] Fix translation HTTP-Fehler-Code
  administrator/language/de-DE/lib_joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: enhancement, Joomla! 4.x

#2207 [4.1] Template Override switches
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 4.x

#2208 [4.1]Add form layout option to custom fields
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/plg_fields_list.ini
  administrator/language/de-DE/plg_fields_radio.ini
  administrator/language/de-DE/plg_fields_sql.ini
Labels: core language change, Joomla! 4.x

#2212 [3.10] Dont show the pre upgrade checker when the upgrade is not supported
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
Labels: core language change, Joomla! 3.x

#2213 [4.0] Joomla Update Silent fails
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2227 [4.1] Simplify statistic plugin
  administrator/language/de-DE/plg_system_stats.ini
Labels: core language change, Joomla! 4.x

#2166 [4.1] [SOC 21] Add a Scheduled Tasks Infrastructure to Joomla
  administrator/language/de-DE/com_scheduler.ini
  administrator/language/de-DE/com_scheduler.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_actionlog_joomla.ini
  administrator/language/de-DE/plg_system_schedulerunner.ini
  administrator/language/de-DE/plg_system_schedulerunner.sys.ini
  administrator/language/de-DE/plg_system_tasknotification.ini
  administrator/language/de-DE/plg_system_tasknotification.sys.ini
  administrator/language/de-DE/plg_task_checkfiles.ini
  administrator/language/de-DE/plg_task_checkfiles.sys.ini
  administrator/language/de-DE/plg_task_demotasks.ini
  administrator/language/de-DE/plg_task_demotasks.sys.ini
  administrator/language/de-DE/plg_task_requests.ini
  administrator/language/de-DE/plg_task_requests.sys.ini
  administrator/language/de-DE/plg_task_sitestatus.ini
  administrator/language/de-DE/plg_task_sitestatus.sys.ini
Labels: core language change, Joomla! 4.x

#2228 [4.0] Fix com_users
  administrator/language/de-DE/com_users.ini
Labels: Joomla! 4.x

#2226 [4.0] unification wording prefix id
  administrator/language/de-DE/com_actionlogs.ini
Labels: enhancement, Joomla! 4.x

#2215 [4.1] Articles filtered by me
  administrator/language/de-DE/com_content.ini
Labels: core language change, Joomla! 4.x

#2200 [4.1] Hide–able inline help in back– and frontend forms
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/joomla.ini
  language/de-DE/com_config.ini
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2229 [4.1] fix missing #2213
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2230 Merge Branch 3.10-dev into 4.0-dev
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2236 [4.0] Tippfehler COM_JOOMLAUPDATE_VIEW_UPDATE_CHECKSUM_WRONG
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: enhancement

#2233 [4.1] com_scheduler.ini - taskId
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2234 Resumable scheduled tasks
  administrator/language/de-DE/com_scheduler.ini
  administrator/language/de-DE/plg_task_demotasks.ini
Labels: core language change, Joomla! 4.x

#2239 [4.0] Fix translations
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/mod_toolbar.sys.ini
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: enhancement, Joomla! 4.x

#2240 Merge 4.0-dev changes in 3.10-dev
  administrator/language/de-DE/de-DE.com_config.ini
  administrator/language/de-DE/de-DE.com_content.ini
  administrator/language/de-DE/de-DE.com_joomlaupdate.ini
  administrator/language/de-DE/de-DE.plg_sampledata_blog.ini
Labels: Joomla! 3.x

#2248 [4.1] PLG_TINY_FIELD_SKIN_INFO_DESC
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 4.x

#2249 [4.1] PLG_TINY_FIELD_CUSTOM_CSS_DESC
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 4.x

#2252 [4.1] Update TinyMCE Skin Creator URL
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 4.x

#2251 [4.1] Remove unnecessary text
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2253 [4.0] fix percent D upper case
  administrator/language/de-DE/com_checkin.ini
Labels: bug, Joomla! 4.x
