Repository joomlagerman/joomla, pull requests merged in 2022-06, with the labels that each got.

#2458 [4.2] Add ability to save an article from the frontend without being redirected (#37312)
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2465 [4.2] Smart Search: Add optimisations & garbage collection
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2464 [4.2] Smart Search: Index custom fields
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2466 [4.2] Smart Search: Allow fuzzy word matching
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2462 [4.1] fix typo #2456
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_content.sys.ini
  administrator/language/de-DE/com_newsfeeds.sys.ini
Labels: enhancement, Joomla! 4.x

#2474 [4.2] Improve Joomla! Update error state
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2473 Update and rename ISSUE_TEMPLATE.md to ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.yaml
Labels: enhancement

#2461 [4.2] Allow to disable session metadata tracking for guest users
  administrator/language/de-DE/com_config.ini
Labels: core language change, Joomla! 4.x

#2460 [4.2] Indicate if category not published
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2459 [4.2] Deprecating WinCache for Joomla 5.0
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2478 [4.x] Fix bump script
  build/bump.php
Labels: enhancement, Joomla! 4.x

#2479 [4.2] Improve bump version
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  api/language/de-DE/install.xml
  api/language/de-DE/langmetadata.xml
  build/bump.php
  language/de-DE/install.xml
  language/de-DE/langmetadata.xml
Labels: enhancement, Joomla! 4.x

#2480 re apply changes to the 4.1 branch
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  administrator/language/de-DE/install.xml
  administrator/language/de-DE/langmetadata.xml
  api/language/de-DE/install.xml
  api/language/de-DE/langmetadata.xml
  build/bump.php
  language/de-DE/com_finder.ini
  language/de-DE/install.xml
  language/de-DE/langmetadata.xml
Labels: enhancement, Joomla! 4.x

#2481 allow builds of a specific tag #2441
  build/build.php
Labels: enhancement

#2482 [4.x] Fix indentation in bump script
  build/bump.php
Labels: Joomla! 4.x

#2485 [4.1] Unified spelling of the word YubiKey
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.sys.ini
Labels: core language change, Joomla! 4.x

#2491 [4.1] unification site section
  administrator/language/de-DE/plg_system_accessibility.ini
  administrator/language/de-DE/plg_system_skipto.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
Labels: enhancement, Joomla! 4.x

#2490 [4.2] Post-installation messages UX
  administrator/language/de-DE/com_postinstall.ini
Labels: core language change, Joomla! 4.x

#2489 [4.2] accessibility plugin update and fixes
  administrator/language/de-DE/plg_system_accessibility.ini
Labels: core language change, Joomla! 4.x

#2493 [4.x] sync core
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_latest.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_finder.commonwords.txt
  language/de-DE/joomla.ini
  language/de-DE/mod_whosonline.ini
Labels: core language change, Joomla! 4.x

#2500 [4.2] user profile dob field
  administrator/language/de-DE/plg_user_profile.ini
Labels: core language change, Joomla! 4.x

#2499 [4.2] Backup confirm message
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2498 [4.2] update message
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2504 [4.1] order/fix header ini-file
  administrator/language/de-DE/plg_fields_subform.ini
  administrator/language/de-DE/plg_fields_subform.sys.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_jooa11y.sys.ini
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
Labels: core language change, Joomla! 4.x

#2501 [4.2] Feature/com joomlaupdate improvements
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2505 [4.2] Fix missing language strings at installation
  installation/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2512 [4.2] install language - an error message when no xml is returned
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2513 [4.2] [GSoC 21] Keyboard-Shortcut Plugin
  administrator/language/de-DE/plg_system_shortcut.ini
  administrator/language/de-DE/plg_system_shortcut.sys.ini
Labels: core language change, Joomla! 4.x

#2516 [4.2] in updates XML always resulted in an error
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x
