Repository joomlagerman/joomla, pull requests merged in 2022-04, with the labels that each got.

#2368 [4] Empty State for Checking for updates
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2370 [4.0] Modify modal window and remove orphan label in privacy consent and terms and conditions fields
  administrator/language/de-DE/plg_system_privacyconsent.ini
  administrator/language/de-DE/plg_user_terms.ini
Labels: core language change, Joomla! 4.x

#2372 [4.0] useractions spelling
  administrator/language/de-DE/com_actionlogs.ini
Labels: core language change, Joomla! 4.x

#2373 [4.x] Add a check whether we are running the core backend template and issue an info when that is not the case
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#2376 [4.0] Cassiopeia template - changing Tagline to Tagline - Optional text to show as a subheading parameter - ALTERNATIVE (35720)
  language/de-DE/tpl_cassiopeia.ini
Labels: core language change, Joomla! 4.x

#2389 [4.0] Information link -contrast [a11y]
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2391 [4.0] Add markup to move buttons to next line
  administrator/language/de-DE/plg_system_updatenotification.ini
Labels: core language change, Joomla! 4.x

#2387 [4.0] Password reset time
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2385 [4.0] Rename Web Services api-authentication plugins
  administrator/language/de-DE/plg_api-authentication_basic.ini
  administrator/language/de-DE/plg_api-authentication_basic.sys.ini
  administrator/language/de-DE/plg_api-authentication_token.ini
  administrator/language/de-DE/plg_api-authentication_token.sys.ini
Labels: core language change, Joomla! 4.x

#2383 [4.1] webauthn table accessibility
  administrator/language/de-DE/plg_system_webauthn.ini
Labels: core language change, Joomla! 4.x

#2380 [4.1] Remove invalid tooltip option in media field
  administrator/language/de-DE/plg_fields_media.ini
Labels: core language change, Joomla! 4.x

#2396 [4.0] Alpha sort admin plugins lang strings
  administrator/language/de-DE/plg_captcha_recaptcha.ini
  administrator/language/de-DE/plg_captcha_recaptcha.sys.ini
  administrator/language/de-DE/plg_captcha_recaptcha_invisible.ini
  administrator/language/de-DE/plg_captcha_recaptcha_invisible.sys.ini
  administrator/language/de-DE/plg_content_contact.ini
  administrator/language/de-DE/plg_content_finder.ini
  administrator/language/de-DE/plg_content_pagebreak.ini
  administrator/language/de-DE/plg_editors-xtd_article.ini
  administrator/language/de-DE/plg_editors-xtd_contact.sys.ini
  administrator/language/de-DE/plg_extension_joomla.ini
  administrator/language/de-DE/plg_fields_calendar.ini
  administrator/language/de-DE/plg_fields_checkboxes.ini
  administrator/language/de-DE/plg_fields_list.ini
  administrator/language/de-DE/plg_fields_radio.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_finder_contacts.ini
  administrator/language/de-DE/plg_finder_content.ini
  administrator/language/de-DE/plg_finder_newsfeeds.ini
  administrator/language/de-DE/plg_media-action_resize.ini
  administrator/language/de-DE/plg_media-action_rotate.ini
  administrator/language/de-DE/plg_system_actionlogs.ini
  administrator/language/de-DE/plg_system_debug.ini
  administrator/language/de-DE/plg_system_httpheaders.ini
  administrator/language/de-DE/plg_system_languagefilter.ini
  administrator/language/de-DE/plg_system_logout.ini
  administrator/language/de-DE/plg_system_logout.sys.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
  administrator/language/de-DE/plg_system_sef.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_user_profile.ini
  administrator/language/de-DE/plg_user_token.ini
Labels: core language change, Joomla! 4.x

#2395 [4.0] Alpha sort admin lang strings [components]
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_admin.sys.ini
  administrator/language/de-DE/com_ajax.ini
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_banners.sys.ini
  administrator/language/de-DE/com_cache.ini
  administrator/language/de-DE/com_checkin.ini
  administrator/language/de-DE/com_checkin.sys.ini
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_config.sys.ini
  administrator/language/de-DE/com_contenthistory.ini
  administrator/language/de-DE/com_finder.sys.ini
  administrator/language/de-DE/com_menus.ini
  administrator/language/de-DE/com_menus.sys.ini
  administrator/language/de-DE/com_newsfeeds.sys.ini
  administrator/language/de-DE/com_plugins.ini
  administrator/language/de-DE/com_redirect.ini
  administrator/language/de-DE/com_wrapper.sys.ini
Labels: core language change, Joomla! 4.x

#2398 [4.1] adjustments in lang files
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2401 [4.1] Fix mismatch in column and sort table
  administrator/language/de-DE/com_languages.ini
Labels: core language change, Joomla! 4.x

#2404 [4.0] Alpha sort site lang strings part 1
  language/de-DE/com_ajax.ini
  language/de-DE/com_config.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_finder.ini
  language/de-DE/com_newsfeeds.ini
  language/de-DE/mod_custom.sys.ini
  language/de-DE/mod_tags_similar.ini
Labels: core language change, Joomla! 4.x

#2394 [4.1] Improve the child template creation
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 4.x

#2403 [4.1] adjustments in com_templates
  administrator/language/de-DE/com_templates.ini
Labels: enhancement, Joomla! 4.x

#2405 [4.1] Viertelgeviertstrich vs. Halbgeviertstrich (Erweiterungsnamen)
  administrator/language/de-DE/plg_editors-xtd_image.ini
  administrator/language/de-DE/plg_editors-xtd_image.sys.ini
  administrator/language/de-DE/plg_fields_subform.sys.ini
  administrator/language/de-DE/plg_workflow_featuring.ini
  administrator/language/de-DE/plg_workflow_featuring.sys.ini
  administrator/language/de-DE/plg_workflow_notification.ini
  administrator/language/de-DE/plg_workflow_notification.sys.ini
  administrator/language/de-DE/plg_workflow_publishing.ini
Labels: enhancement, Joomla! 4.x

#2411 [3.10] "I do not agree" for two more plugins
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
  administrator/language/de-DE/de-DE.plg_user_profile.ini
Labels: core language change, Joomla! 3.x

#2410 [4.x] Bootstrap 5
  administrator/language/de-DE/com_privacy.ini
  language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2412 [4.1] Multilingual Status [a11y]
  administrator/language/de-DE/com_languages.ini
Labels: core language change, Joomla! 4.x

#2419 [4.1] COM_CONTACT_FILTER_SEARCH_DESC in com_contact.ini
  administrator/language/de-DE/com_contact.ini
Labels: enhancement, Joomla! 4.x

#2418 [4.x] List Filters
  language/de-DE/com_contact.ini
Labels: core language change, Joomla! 4.x

#2417 [3.10] Improve remind an PW request / reset messages
  administrator/language/de-DE/de-DE.plg_system_privacyconsent.ini
  language/de-DE/de-DE.com_users.ini
Labels: core language change, Joomla! 3.x

#2420 [3.10] Label of privacy confirm request
  language/de-DE/de-DE.com_privacy.ini
Labels: core language change, Joomla! 3.x

#2421 [4.1] com_media: hardcoded language strings
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2423 [4.1] Unnecessary description for layout
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x
