Repository joomlagerman/joomla, pull requests merged in 2022-03, with the labels that each got.

#2301 [4.1] WebAuthn hints
  administrator/language/de-DE/plg_system_webauthn.ini
Labels: core language change, Joomla! 4.x

#2306 [4.1] Remove Bootstrap tooltip
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2303 [4.1] jooa11y plugin options
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: core language change, Joomla! 4.x

#2307 [4.1] Private Messages Emails
  administrator/language/de-DE/com_messages.ini
Labels: core language change, Joomla! 4.x

#2318 [4] Schnellstartsymbole Benachrichtigungen
  administrator/language/de-DE/plg_quickicon_overridecheck.ini
  administrator/language/de-DE/plg_quickicon_privacycheck.ini
Labels: enhancement, Joomla! 4.x

#2316 [4.1] Codemirror Full Screen
  administrator/language/de-DE/plg_editors_codemirror.ini
Labels: core language change, Joomla! 4.x

#2315 [4.1] com_scheduler checked out tasks
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2314 [4.1] scheduler sorting
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2313 [4] Remove all references to LDAP ignore_reqcert_tls
  administrator/language/de-DE/plg_authentication_ldap.ini
Labels: core language change, Joomla! 4.x

#2324 Upmerge 3.10 to 4.1.1
  administrator/language/de-DE/de-DE.plg_user_terms.ini
Labels: core language change, Joomla! 3.x

#2325 [4.1] Add Visual Indicator for Failing Scheduled Tasks
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 4.x

#2326 [4.1] Admin User accessibility settings
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2329 array usage
  script.php
Labels: enhancement

#2331 [4.1] wording "Verlauf der Ausführung"
  administrator/language/de-DE/com_scheduler.ini
Labels: enhancement, Joomla! 4.x

#2333 [4.0] Upgrade inital pw length to 12 characters without complexitiy rules
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_users.ini
  language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2330 [4.1] unification spelling z.B.
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/com_cpanel.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_toolbar.ini
  administrator/language/de-DE/mod_toolbar.sys.ini
  administrator/language/de-DE/plg_authentication_cookie.ini
  administrator/language/de-DE/plg_content_confirmconsent.ini
  administrator/language/de-DE/plg_content_confirmconsent.sys.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_sessiongc.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_user_token.ini
Labels: enhancement, Joomla! 4.x

#2334 [3.10] Fix installation string sample data
  installation/language/de-DE/de-DE.ini
Labels: enhancement, Joomla! 3.x

#2337 [4.1] Tippfehler Intervall
  administrator/language/de-DE/com_scheduler.ini
Labels: bug, Joomla! 4.x

#2338 [4] Fix mail template actionlogs
  administrator/language/de-DE/com_actionlogs.ini
Labels: bug, Joomla! 4.x

#2340 [4.1] Simplify Requirements for Task Routine XMLs
  administrator/language/de-DE/plg_task_checkfiles.ini
Labels: core language change, Joomla! 4.x

#2346 [4.1] Update com_modules.sys
  administrator/language/de-DE/com_modules.sys.ini
Labels: enhancement, Joomla! 4.x

#2345 [4.1] Update com_contenthistory
  administrator/language/de-DE/com_contenthistory.ini
Labels: enhancement, Joomla! 4.x

#2348 [4.0] Alternative menu
  administrator/language/de-DE/mod_menu.ini
Labels: core language change, Joomla! 4.x

#2349 [4.0] Form label [a11y]
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_workflow.ini
Labels: core language change, Joomla! 4.x

#2351 [4.1] Add text COM_WORKFLOW_STAGE_FORM_NEW to com_workflow.ini
  administrator/language/de-DE/com_workflow.ini
Labels: core language change, Joomla! 4.x

#2353 [4.1] Jooa11y updates
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: enhancement, core language change

#2355 [4.1] A new Icon for com_tags to the quickicon module
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/mod_quickicon.ini
Labels: core language change, Joomla! 4.x

#2362 [3.10] Disable auth binding code introduced with 3.10.7
  administrator/language/de-DE/de-DE.com_users.ini
Labels: core language change, Joomla! 3.x

#2363 [4.1] Disable auth binding code introduced with 4.1.1
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x
