Repository joomlagerman/joomla, pull requests merged in 2023-07, with the labels that each got.

#2859 [4.3] Wording Update Joomla-Version
  administrator/language/de-DE/com_installer.ini
Labels: enhancement, Joomla! 4.x

#2854 [4.4] EOS - Plugin Disabling Quick Icon Display and adding correct text definitions
  administrator/language/de-DE/plg_quickicon_eos.ini
  administrator/language/de-DE/plg_quickicon_eos.sys.ini
Labels: core language change, Joomla! 4.x

#2853 [4.4] Inclusive Naming abort (language strings)
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.x

#2867 [4.4] Upmerge 4.3
  administrator/language/de-DE/com_installer.ini
Labels: Joomla! 4.x

#2878 [4.3] Guided Tours disabled plugin
  administrator/language/de-DE/com_guidedtours.ini
Labels: core language change, Joomla! 4.x

#2879 [4.4] Fix eos quickicion
  administrator/language/de-DE/plg_quickicon_eos.ini
  administrator/language/de-DE/plg_quickicon_eos.sys.ini
Labels: Joomla! 4.x

#2869 [5.x] Update files_joomla.sys.ini
  language/de-DE/files_joomla.sys.ini
Labels: core language change, Joomla! 5.x

#2881 [5.0] Upmerge 4.4
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/plg_quickicon_eos.ini
  administrator/language/de-DE/plg_quickicon_eos.sys.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: Joomla! 5.x
