Repository joomlagerman/joomla, pull requests merged in 2023-04, with the labels that each got.

#2786 Zum einfachen Verständnis
  administrator/language/de-DE/plg_installer_override.ini
Labels: enhancement

#2791 typo COM_CPANEL_WELCOME_BEGINNERS_MESSAGE
  administrator/language/de-DE/com_cpanel.ini
Labels: bug, Joomla! 4.x

#2789 [4.3] placeholder JGLOBAL_TYPE_OR_SELECT_SOME_TAGS
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: bug, enhancement, Joomla! 4.x

#2793 [4.3] fix double punctuation
  installation/language/de-DE/joomla.cli.ini
Labels: bug, Joomla! 4.x

#2778 [4.3] GSoC’22 project: Guided Tours
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_guidedtours.ini
  administrator/language/de-DE/com_guidedtours.sys.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/mod_guidedtours.ini
  administrator/language/de-DE/mod_guidedtours.sys.ini
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/plg_system_guidedtours.ini
  administrator/language/de-DE/plg_system_guidedtours.sys.ini
  installation/sql/mysql/localise.sql
Labels: core language change, Joomla! 4.x
