Repository joomlagerman/joomla, pull requests merged in 2023-05, with the labels that each got.

#2796 [4.4] Deprecate debug plugin strings
  administrator/language/de-DE/plg_system_debug.ini
Labels: core language change, Joomla! 4.x

#2798 [5.0] Fixing php compatibility issues 3
  administrator/language/de-DE/com_joomlaupdate.ini
  installation/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.x

#2803 [4.4] com_newsfeeds deprecated strings
  administrator/language/de-DE/com_newsfeeds.ini
Labels: core language change, Joomla! 4.x

#2805 [4.4] Deprecate unused workflow strings
  administrator/language/de-DE/com_workflow.ini
Labels: core language change, Joomla! 4.x

#2810 [4.3] Checksum string
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2811 [4.3] spelling fine-tune
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 4.x

#2813 [4.3][Guided Tours] Fixed missing field in Banners Tour
  administrator/language/de-DE/com_guidedtours.sys.ini
Labels: core language change, Joomla! 4.x

#2822 [4.3] update help toc
  administrator/language/de-DE/com_admin.ini
Labels: core language change, Joomla! 4.x

#2821 [4.3] Remove message on login
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x

#2823 [4.3] fix translation help screen
  administrator/language/de-DE/com_admin.ini
Labels: enhancement, Joomla! 4.x

#2828 Securitypatch 432
  administrator/language/de-DE/com_users.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.x
