Repository joomlagerman/joomla, pull requests merged in 2023-09, with the labels that each got.

#2938 [5.0] finder date a11y
  language/de-DE/com_finder.ini
Labels: core language change, Joomla! 5.x

#2936 [5.0] [Guided Tours] Add context to core tours
  administrator/language/de-DE/mod_guidedtours.ini
Labels: core language change, Joomla! 5.x

#2937 [5.0] Adding display of progress to installation
  installation/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.x

#2940 [5.0] Remove outdated captcha for new installation
  administrator/language/de-DE/plg_captcha_recaptcha.ini
  administrator/language/de-DE/plg_captcha_recaptcha.sys.ini
  administrator/language/de-DE/plg_captcha_recaptcha_invisible.ini
  administrator/language/de-DE/plg_captcha_recaptcha_invisible.sys.ini
  script.php
Labels: core language change, Joomla! 5.x

#2868 [5.0] b/c plugin for deprecation
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/plg_behaviour_compat.ini
  administrator/language/de-DE/plg_behaviour_compat.sys.ini
Labels: core language change, Joomla! 5.x

#2887 [5.0] [GSoC22] Rich Snippets - schema.org implementation
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_content_joomla.ini
  administrator/language/de-DE/plg_schemaorg_blogposting.ini
  administrator/language/de-DE/plg_schemaorg_blogposting.sys.ini
  administrator/language/de-DE/plg_schemaorg_book.ini
  administrator/language/de-DE/plg_schemaorg_book.sys.ini
  administrator/language/de-DE/plg_schemaorg_event.ini
  administrator/language/de-DE/plg_schemaorg_event.sys.ini
  administrator/language/de-DE/plg_schemaorg_jobposting.ini
  administrator/language/de-DE/plg_schemaorg_jobposting.sys.ini
  administrator/language/de-DE/plg_schemaorg_organization.ini
  administrator/language/de-DE/plg_schemaorg_organization.sys.ini
  administrator/language/de-DE/plg_schemaorg_person.ini
  administrator/language/de-DE/plg_schemaorg_person.sys.ini
  administrator/language/de-DE/plg_schemaorg_recipe.ini
  administrator/language/de-DE/plg_schemaorg_recipe.sys.ini
  administrator/language/de-DE/plg_system_schemaorg.ini
  administrator/language/de-DE/plg_system_schemaorg.sys.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.x

#2952 [5] add2scheduler-rotationlog
  administrator/language/de-DE/plg_system_logrotation.ini
  administrator/language/de-DE/plg_system_logrotation.sys.ini
  administrator/language/de-DE/plg_task_rotatelogs.ini
  administrator/language/de-DE/plg_task_rotatelogs.sys.ini
  script.php
Labels: core language change, Joomla! 5.x

#2925 [4.x] Benutzername vergessen
  language/de-DE/com_users.ini
Labels: enhancement, Joomla! 4.x

#2964 [5] Action Log: Block/Unblock user
  administrator/language/de-DE/plg_actionlog_joomla.ini
Labels: core language change, Joomla! 5.x

#2963 [5] fix missing localise.sql
  installation/sql/mysql/localise.sql
Labels: core language change, Joomla! 5.x

#2962 [5] add2scheduler-sessiongc
  administrator/language/de-DE/plg_system_sessiongc.ini
  administrator/language/de-DE/plg_system_sessiongc.sys.ini
  administrator/language/de-DE/plg_task_sessiongc.ini
  administrator/language/de-DE/plg_task_sessiongc.sys.ini
  installation/sql/mysql/localise.sql
  script.php
Labels: core language change, Joomla! 5.x

#2949 [5] add2scheduler-deleteactionlogs
  administrator/language/de-DE/plg_system_actionlogs.ini
  administrator/language/de-DE/plg_task_deleteactionlogs.ini
  administrator/language/de-DE/plg_task_deleteactionlogs.sys.ini
Labels: core language change, Joomla! 5.x

#2950 [5] add2scheduler-updatenotification
  administrator/language/de-DE/plg_system_updatenotification.ini
  administrator/language/de-DE/plg_system_updatenotification.sys.ini
  administrator/language/de-DE/plg_task_updatenotification.ini
  administrator/language/de-DE/plg_task_updatenotification.sys.ini
  installation/sql/mysql/localise.sql
  script.php
Labels: core language change, Joomla! 5.x

#2939 [5.0] Smart Search: Allow to hide archived content
  administrator/language/de-DE/plg_finder_categories.ini
  administrator/language/de-DE/plg_finder_contacts.ini
  administrator/language/de-DE/plg_finder_content.ini
  administrator/language/de-DE/plg_finder_newsfeeds.ini
  administrator/language/de-DE/plg_finder_tags.ini
Labels: core language change, Joomla! 5.x

#2927 [5.0] New task plugin for check in items
  administrator/language/de-DE/plg_task_globalcheckin.ini
  administrator/language/de-DE/plg_task_globalcheckin.sys.ini
Labels: core language change, Joomla! 5.x

#2941 [5.0] Smart Search: Add debugging features
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 5.x

#2948 [5.0] Tours alias language
  administrator/language/de-DE/com_guidedtours.ini
  administrator/language/de-DE/com_guidedtours.sys.ini
  administrator/language/de-DE/guidedtours.joomla_articles.ini
  administrator/language/de-DE/guidedtours.joomla_articles_steps.ini
  administrator/language/de-DE/guidedtours.joomla_banners.ini
  administrator/language/de-DE/guidedtours.joomla_banners_steps.ini
  administrator/language/de-DE/guidedtours.joomla_categories.ini
  administrator/language/de-DE/guidedtours.joomla_categories_steps.ini
  administrator/language/de-DE/guidedtours.joomla_contacts.ini
  administrator/language/de-DE/guidedtours.joomla_contacts_steps.ini
  administrator/language/de-DE/guidedtours.joomla_guidedtours.ini
  administrator/language/de-DE/guidedtours.joomla_guidedtours_steps.ini
  administrator/language/de-DE/guidedtours.joomla_guidedtoursteps.ini
  administrator/language/de-DE/guidedtours.joomla_guidedtoursteps_steps.ini
  administrator/language/de-DE/guidedtours.joomla_menus.ini
  administrator/language/de-DE/guidedtours.joomla_menus_steps.ini
  administrator/language/de-DE/guidedtours.joomla_newsfeeds.ini
  administrator/language/de-DE/guidedtours.joomla_newsfeeds_steps.ini
  administrator/language/de-DE/guidedtours.joomla_smartsearch.ini
  administrator/language/de-DE/guidedtours.joomla_smartsearch_steps.ini
  administrator/language/de-DE/guidedtours.joomla_tags.ini
  administrator/language/de-DE/guidedtours.joomla_tags_steps.ini
  administrator/language/de-DE/guidedtours.joomla_users.ini
  administrator/language/de-DE/guidedtours.joomla_users_steps.ini
Labels: core language change, Joomla! 5.x

#2974 [5.0] Remove wincache
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.x

#2975 [5.0]Com admin remove deprecated strings
  administrator/language/de-DE/com_admin.ini
Labels: core language change, Joomla! 5.x

#2977 [4] Update localise.sql
  installation/sql/mysql/localise.sql
Labels: bug, Joomla! 4.x, Joomla! 5.x

#2979 [5.0] task sessiongc lang cleanup
  administrator/language/de-DE/plg_task_sessiongc.sys.ini
Labels: core language change, Joomla! 5.x

#2942 [5.0] Cassiopeia Fontstacks
  language/de-DE/tpl_cassiopeia.ini
Labels: core language change, Joomla! 5.x

#2953 [5.0] Rename Login with Web Authentication to Login with Passkeys
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/plg_multifactorauth_webauthn.ini
  administrator/language/de-DE/plg_multifactorauth_webauthn.sys.ini
  administrator/language/de-DE/plg_system_webauthn.ini
  administrator/language/de-DE/plg_system_webauthn.sys.ini
Labels: core language change, Joomla! 5.x

#2970 [5.0] Introduce a CLI UI for creating a public folder
  installation/language/de-DE/joomla.cli.ini
  installation/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.x

#2990 [5] Task parameter SessionGC removal #2986
  administrator/language/de-DE/plg_task_sessiongc.ini
Labels: core language change, Joomla! 5.x

#2991 [5.0] Remove tfa language files
  administrator/language/de-DE/plg_twofactorauth_totp.ini
  administrator/language/de-DE/plg_twofactorauth_totp.sys.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.ini
  administrator/language/de-DE/plg_twofactorauth_yubikey.sys.ini
  script.php
Labels: core language change, Joomla! 5.x

#2992 [5.0] actionlogs for custom fields
  administrator/language/de-DE/plg_actionlog_joomla.ini
Labels: core language change, Joomla! 5.x

#2951 [5] add2scheduler-privacyconsents
  administrator/language/de-DE/plg_system_privacyconsent.ini
  administrator/language/de-DE/plg_task_privacyconsent.ini
  administrator/language/de-DE/plg_task_privacyconsent.sys.ini
Labels: core language change, Joomla! 5.x

#2993 [5.0] %d not %s for integer in sprintf
  administrator/language/de-DE/com_installer.ini
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/mod_latestactions.ini
  administrator/language/de-DE/mod_logged.ini
  administrator/language/de-DE/plg_content_pagebreak.ini
  administrator/language/de-DE/plg_content_vote.ini
  administrator/language/de-DE/plg_editors_tinymce.ini
  language/de-DE/com_content.ini
  language/de-DE/com_newsfeeds.ini
  language/de-DE/finder_cli.ini
Labels: core language change, Joomla! 5.x

#2976 [5.0] remove all deprecated strings for 5.0
  administrator/language/de-DE/com_guidedtours.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/plg_system_debug.ini
  api/language/de-DE/joomla.ini
  language/de-DE/com_media.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 5.x

#3003 [4.3] Fix untranslated constants in script.php
  language/de-DE/files_joomla.sys.ini
Labels: core language change, Joomla! 4.x

#3007 [4.4] Smart Search: Limiting highlighting of tokens
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#3002 [4.4] Add Joomla 5 compat plugin to 4.4.0 to fix class "JPlugin" not found error on update to 5
  administrator/language/de-DE/plg_behaviour_compat.ini
  administrator/language/de-DE/plg_behaviour_compat.sys.ini
Labels: core language change, Joomla! 4.x

#3009 [5.0] Remove deprecated string COM_MEDIA_OPEN_ITEM_ACTIONS
  administrator/language/de-DE/com_media.ini
  language/de-DE/com_media.ini
Labels: core language change, Joomla! 5.x

#3005 [4.3] Work around a successful upgrade with silent errors
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x

#3004 [5.0] Work around a successful upgrade with silent errors
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 5.x

#3021 Update field required value
  administrator/language/de-DE/lib_joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/lib_joomla.ini
Labels: enhancement, Joomla! 5.x

#3023 [5.0] wording COM_MENUS_HEADING_TRASHED_ITEMS
  administrator/language/de-DE/com_menus.ini
Labels: enhancement, Joomla! 5.x

#3024 [5.0] Blank line in doc block
  administrator/language/de-DE/localise.php
  build/build.php
  language/de-DE/localise.php
Labels: core language change, Joomla! 5.x

#3018 [5.0] Template Overides a11y
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 5.x

#3020 [4.4] Joomla Update Component check package when using Upload & Update
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 4.x
