Repository joomlagerman/joomla, pull requests merged in 2023-02, with the labels that each got.

#2736 [4.3] Fix LDAP over SSL
  administrator/language/de-DE/plg_authentication_ldap.ini
Labels: core language change, Joomla! 4.x

#2740 [4.2] Fix typo installation
  installation/language/de-DE/joomla.ini
Labels: Joomla! 4.x

#2751 [4.2] unification string "Website-Administrator"
  administrator/language/de-DE/plg_user_contactcreator.ini
Labels: enhancement, Joomla! 4.x

#2752 "Platzhalter" statt "Schlagwörter" in context of com_mails
  administrator/language/de-DE/com_mails.ini
Labels: enhancement, Joomla! 4.x

#2749 [4.2] Smart Search options
  administrator/language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2754 [4.2] Contact form banned emails and content
  administrator/language/de-DE/com_contact.ini
Labels: core language change, Joomla! 4.x

#2744 [4.3] Media Manager error message
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2753 [4.2] fix tags translation
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_contact.ini
  administrator/language/de-DE/com_newsfeeds.ini
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.x

#2757 [4.2] lang string
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x
