Repository joomlagerman/joomla, pull requests merged in 2023-01, with the labels that each got.

#2699 [4.3] Use in subform filter
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2703 [4.3] Language CLI string
  installation/language/de-DE/joomla.cli.ini
Labels: core language change, Joomla! 4.x

#2704 [4.3] Smart Search Sorting Drop-Down
  administrator/language/de-DE/com_finder.ini
  language/de-DE/com_finder.ini
Labels: core language change, Joomla! 4.x

#2707 [4.3] Remove unused com_media field "upload_mime_illegal"
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2708 [4.3] Conditional custom fields with showon
  administrator/language/de-DE/com_fields.ini
Labels: core language change, Joomla! 4.x

#2710 [4.3] add missing deprecated note for #39453
  language/de-DE/com_media.ini
Labels: core language change, Joomla! 4.x

#2715 [4.3] Menu Items overview - Filter on Component - v2
  administrator/language/de-DE/com_menus.ini
Labels: core language change, Joomla! 4.x

#2713 [4.2] Changes the code base to short array syntax (#39616)
  administrator/language/de-DE/localise.php
  language/de-DE/localise.php
Labels: core language change, Joomla! 4.x

#2714 array short notation syntax
  build/build.php
  build/bump.php
Labels: enhancement

#2716 [4.3] fix syntax error in mod_quickicon
  administrator/language/de-DE/mod_quickicon.ini
Labels: bug, Joomla! 4.x

#2724 [4.2] Inconsistency in permission rules - configure options only
  administrator/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2718 [4.2] Correct description for admin featured articles
  administrator/language/de-DE/com_content.sys.ini
Labels: core language change, Joomla! 4.x

#2728 fix missing letter in PLG_USER_TOKEN_SAVEME_DESC
  administrator/language/de-DE/plg_user_token.ini
Labels: enhancement, Joomla! 4.x

#2730 [4.2] Inconsistency in permission rules - configure options only - API
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 4.x

#2726 [4.2] quotation marks not speech marks
  administrator/language/de-DE/com_config.ini
Labels: core language change, Joomla! 4.x

#2734 [4.3] Allow to select the edit layout for subforms in custom fields
  administrator/language/de-DE/plg_fields_subform.ini
Labels: core language change, Joomla! 4.x

#2732 [4.3] Add workflow strings
  language/de-DE/com_content.ini
Labels: core language change, Joomla! 4.x

#2738 [4.x] Administrator Modul für das Menü
  administrator/language/de-DE/mod_menu.ini
  administrator/language/de-DE/mod_menu.sys.ini
  administrator/language/de-DE/mod_submenu.ini
  administrator/language/de-DE/mod_submenu.sys.ini
Labels: enhancement, Joomla! 4.x
