Repository joomlagerman/joomla, pull requests merged in 2024-08, with the labels that each got.

#3232 [5.2] Add Language string DELETE_FROM_TRASH
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
Labels: core language change, Joomla! 5.2, administrator, api

#3235 [5.2] Delete user access level - check for levels in use
  administrator/language/de-DE/com_users.ini
Labels: core language change, Joomla! 5.2, administrator

#3239 [5.2] Mail Template Attachments description #3236
  administrator/language/de-DE/com_mails.ini
Labels: core language change, Joomla! 5.2

#3238 [5.2] [Guided tours] Increase the width and adjust the height of the popup #3237
  administrator/language/de-DE/guidedtours.joomla_welcome.ini
  administrator/language/de-DE/guidedtours.joomla_welcome_steps.ini
Labels: core language change, Joomla! 5.2

#3246 [5.2] SEF: Enforce suffix
  administrator/language/de-DE/plg_system_sef.ini
Labels: core language change, Joomla! 5.2, administrator

#3245 [5.2] SEF: Add "Strict Routing" option
  administrator/language/de-DE/plg_system_sef.ini
Labels: core language change, Joomla! 5.2, administrator

#3249 [5.2] Multilang: Remove restrictions for home language menu items #3248
  administrator/language/de-DE/com_languages.ini
Labels: core language change

#3244 [5.2] Custom Reply description
  administrator/language/de-DE/com_contact.ini
Labels: core language change, Joomla! 5.2, administrator

#3250 add full translation PLG_SEF_DOMAIN_DESCRIPTION
  administrator/language/de-DE/plg_system_sef.ini
Labels: enhancement, Joomla! 4.4, administrator

#3253 [5.2] Improve UX for template buttons - replace PR #43592
  administrator/language/de-DE/com_templates.ini
Labels: core language change, Joomla! 5.2, administrator

#3259 [5.2] Search for content checked out by an author
  administrator/language/de-DE/com_content.ini
Labels: core language change, Joomla! 5.2, administrator

#3264 [5.2] [Guided tours] Auto start tours - full functionality
  administrator/language/de-DE/com_guidedtours.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/plg_actionlog_joomla.ini
  administrator/language/de-DE/plg_system_guidedtours.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 5.2, administrator, site
