Repository joomlagerman/joomla, pull requests merged in 2024-06, with the labels that each got.

#3198 [5.2] Usability: Back-end - Add item position and total count to Page Navigation
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.2, administrator, site

#3176 [5.2] Added link class selection to TinyMCE dialog
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 5.2, administrator

#3199 [5.2] Überschrift Freigegeben -> Status (com_users)
  administrator/language/de-DE/com_users.ini
Labels: enhancement, Joomla! 5.2, administrator

#3200 Fix message published/unpublished item- it is for 1 artilce
  language/de-DE/com_content.ini
Labels: enhancement, Joomla! 5.1, site

#3203 [a11y] Fix missing aria-label in pagenavigation #3202
  administrator/language/de-DE/plg_content_pagenavigation.ini
Labels: core language change

#3205 [4.1] Improve German translation for COM_FINDER_QUERY_RESULTS #2542
  language/de-DE/com_finder.ini
Labels: enhancement

#3209 [4.x/5.x] Falsche Übersetzung skip-to navigation
  administrator/language/de-DE/plg_system_skipto.ini
  administrator/language/de-DE/plg_system_skipto.sys.ini
Labels: enhancement, Joomla! 4.4, administrator
