Repository joomlagerman/joomla, pull requests merged in 2024-03, with the labels that each got.

#3100 [5.1] Guided Tours - Add checkbox/radio/select target element support, enhanced required field handling
  administrator/language/de-DE/com_guidedtours.ini
Labels: core language change, Joomla! 5.x

#3110 [5.1] Adding notice to global configuration for additional options in SEF plugin
  administrator/language/de-DE/com_config.ini
Labels: core language change, Joomla! 5.x

#3113 [5.1] Schemaorg => Generic plugin
  administrator/language/de-DE/plg_schemaorg_custom.ini
  administrator/language/de-DE/plg_schemaorg_custom.sys.ini
Labels: core language change, Joomla! 5.x

#3116 [5.1] Header list field
  administrator/language/de-DE/plg_fields_list.ini
Labels: core language change, Joomla! 5.x

#3103 [5.1] TUF-based core updates
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.x

#3126 Global rewrite artikel -> beitrag
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_categories.ini
  administrator/language/de-DE/com_content.ini
  administrator/language/de-DE/plg_content_contact.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  language/de-DE/mod_articles_news.ini
Labels: enhancement, Joomla! 4.x, Joomla! 5.x

#3117 [5.1] Menus and categories view with equal headline
  administrator/language/de-DE/com_banners.ini
  administrator/language/de-DE/com_categories.ini
Labels: core language change, Joomla! 5.x

#3133 [5.1] Alert links system container [a11y]
  administrator/language/de-DE/com_installer.ini
Labels: core language change, Joomla! 5.1

#3135 [5.1] Dark Mode final Version
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/com_privacy.ini
Labels: core language change, Joomla! 5.1

#3112 [5.1] SEF: Implementing index.php behavior
  administrator/language/de-DE/plg_system_sef.ini
Labels: core language change, Joomla! 5.x

#3111 [5.1] SEF: Implementing trailing slash behavior
  administrator/language/de-DE/plg_system_sef.ini
Labels: core language change, Joomla! 5.x

#3134 [5.x] Template color scheme configuration
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/mod_user.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/tpl_atum.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 5.1

#3136 [5.1] Guided tours welcome tour
  administrator/language/de-DE/guidedtours.joomla_welcome.ini
  administrator/language/de-DE/guidedtours.joomla_welcome_steps.ini
Labels: core language change, Joomla! 5.1

#3101 [5.1] Update Jooa11y with latest Sa11y build (Attempt #2)
  administrator/language/de-DE/plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_jooa11y.sys.ini
Labels: core language change, Joomla! 5.x

#3139 [5.1] typo quotation marks
  administrator/language/de-DE/plg_system_sef.ini
Labels: bug, Joomla! 5.1

#3140 [5.1] use single quotes in html elements
  administrator/language/de-DE/com_templates.ini
  administrator/language/de-DE/guidedtours.joomla_welcome_steps.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: enhancement, Joomla! 5.1

#3141 [5.1] cleanup/sync core
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/com_finder.ini
  administrator/language/de-DE/com_media.ini
  administrator/language/de-DE/com_tags.ini
  administrator/language/de-DE/com_users.ini
  administrator/language/de-DE/mod_latest.ini
  administrator/language/de-DE/plg_system_highlight.sys.ini
  administrator/language/de-DE/plg_system_redirect.ini
  administrator/language/de-DE/plg_user_profile.ini
Labels: enhancement, Joomla! 5.1

#3142 [5.1] Fix tooltips in categories
  administrator/language/de-DE/com_categories.ini
Labels: core language change, Joomla! 5.1

#3146 [5.1] fix invalid api/joomla.ini
  api/language/de-DE/joomla.ini
Labels: bug, Joomla! 5.1

#3147 [5.1] Merge update parameter and improve contrain checker
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 5.1

#3148 [5.1] Alpha sorting strings in plg_system_jooa11y.ini
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: core language change, Joomla! 5.1

#3152 [4.4] Postinstallation-Message htaccess.txt brotli change
  administrator/language/de-DE/com_admin.ini
Labels: core language change, Joomla! 4.x

#3153 [5.1] brotli compression
  administrator/language/de-DE/com_admin.ini
Labels: core language change, Joomla! 5.1
