Repository joomlagerman/joomla, pull requests merged in 2024-10, with the labels that each got.

#3304 [5.2] Module Articles show only articles from current user
  language/de-DE/mod_articles.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, site

#3303 [5.2] Articles Module: (Re)Introduced dynamic mode as on mod_articles_category
  language/de-DE/mod_articles.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, site

#3292 [5.2] [Guided Tours] Addition of 'Auto start' step in 'How to create a tour?' tour
  administrator/language/de-DE/guidedtours.joomla_guidedtours_steps.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, administrator

#3289 [5.2] fix unescaped quotes in sampldata_blog language string
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, administrator

#3305 [5.2] fix wording open schema plugin
  administrator/language/de-DE/plg_system_schemaorg.ini
Labels: enhancement, hacktoberfest-accepted, Joomla! 5.2, administrator

#3287 [5.2] [Guided Tours] Fix permission errors when recording user tour state
  administrator/language/de-DE/com_guidedtours.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, administrator

#3300 [5.2] Fix filtering exclude and include articles
  language/de-DE/mod_articles.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, site

#3301 [5.2] Added plugin event triggers to the new mod_articles module
  language/de-DE/mod_articles.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, site

#3302 [5.2] Option to show all articles in the new mod_articles
  language/de-DE/mod_articles.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, site

#3311 [4.4] wording Joomla! Next Update channel
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: enhancement, hacktoberfest-accepted, Joomla! 4.4, administrator

#3309 [6.0] jooa11y remove deprecated strings
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: core language change, hacktoberfest-accepted, administrator, Joomla! 6.0

#3308 [6.0] Deprecated lang strings
  administrator/language/de-DE/com_fields.ini
  administrator/language/de-DE/com_joomlaupdate.ini
  administrator/language/de-DE/joomla.ini
  administrator/language/de-DE/lib_joomla.ini
  administrator/language/de-DE/mod_user.ini
  administrator/language/de-DE/plg_editors_codemirror.ini
  administrator/language/de-DE/plg_fields_list.ini
  administrator/language/de-DE/plg_fields_sql.ini
  administrator/language/de-DE/plg_system_actionlogs.ini
  administrator/language/de-DE/plg_system_privacyconsent.ini
  api/language/de-DE/joomla.ini
  installation/language/de-DE/joomla.ini
  language/de-DE/files_joomla.sys.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, hacktoberfest-accepted, administrator, installation, site, api, Joomla! 6.0

#3288 [5.2] [Guided Tours] Better tour user state wording and explanation
  administrator/language/de-DE/com_guidedtours.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, administrator

#3290 [5.2] Created translatable strings for LocalAdapter.php "code review"
  administrator/language/de-DE/com_media.ini
  language/de-DE/com_media.ini
Labels: core language change, hacktoberfest-accepted, Joomla! 5.2, administrator, site

#3314 change readme after 5.2. release
  README.md
Labels: enhancement

#3322 [5.3] Loadmodule plugin remove unused options
  administrator/language/de-DE/plg_content_loadmodule.ini
Labels: core language change, administrator, Joomla! 5.3

#3321 [5.3] Deprecate unused language strings mod_stats_admin
  administrator/language/de-DE/mod_stats_admin.ini
Labels: core language change, administrator, Joomla! 5.3

#3320 [5.2] Missing layout names in modules
  administrator/language/de-DE/mod_guidedtours.sys.ini
  administrator/language/de-DE/mod_latestactions.sys.ini
  administrator/language/de-DE/mod_logged.sys.ini
  administrator/language/de-DE/mod_multilangstatus.sys.ini
  administrator/language/de-DE/mod_post_installation_messages.sys.ini
  administrator/language/de-DE/mod_sampledata.sys.ini
  administrator/language/de-DE/mod_stats_admin.sys.ini
  administrator/language/de-DE/mod_submenu.sys.ini
  language/de-DE/mod_articles_news.sys.ini
  language/de-DE/mod_whosonline.sys.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: core language change, Joomla! 5.2, administrator, site

#3328 [5.2] No menu must be selected for menu items batch processing
  administrator/language/de-DE/com_menus.ini
Labels: core language change, Joomla! 5.2, administrator

#3331 [6.0] Remove deprecated strings
  administrator/language/de-DE/mod_stats_admin.ini
Labels: core language change, administrator, Joomla! 6.0

#3332 Einheitliche Benennung für preset
  administrator/language/de-DE/com_content.sys.ini
  administrator/language/de-DE/com_users.sys.ini
Labels: enhancement, hacktoberfest-accepted, Joomla! 5.2, administrator

#3335 [5.2] Fixed a set of options for the demo data plugin
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, Joomla! 5.2, administrator

#3338 [5.2] Improve COM_SCHEDULER_TEST_RUN
  administrator/language/de-DE/com_scheduler.ini
Labels: Joomla! 5.2
