Repository joomlagerman/joomla, pull requests merged in 2024-05, with the labels that each got.

#3180 [5.2] Change the workflows article title
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, Joomla! 5.2, administrator

#3186 [5] correct forum link
  administrator/language/de-DE/com_cpanel.ini
Labels: core language change, Joomla! 5.1, administrator

#3185 [5.1] Light/Dark Mode switch
  administrator/language/de-DE/mod_user.ini
Labels: core language change, Joomla! 5.1, administrator

#3175 [5.2] Clarify Cache Plugin
  administrator/language/de-DE/plg_system_cache.ini
  administrator/language/de-DE/plg_system_cache.sys.ini
Labels: core language change, Joomla! 5.2, administrator

#3177 [5.2] Admin Module Latest
  administrator/language/de-DE/mod_latest.ini
Labels: core language change, Joomla! 5.2, administrator

#3189 [4.x] MFA Backup Codes [a11y] [UI]
  administrator/language/de-DE/com_users.ini
  language/de-DE/com_users.ini
Labels: core language change, Joomla! 4.4, administrator, site

#3193 [5.1] com_redirect - inline help for Activate Advanced Mode button #3192
  administrator/language/de-DE/com_redirect.ini
Labels: core language change, Joomla! 5.1

#3194 [5.1] Catch block for generic TUF exceptions #3191
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.1

#3187 [5.1] Fix missing entries in help index
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/mod_latest.ini
  administrator/language/de-DE/mod_latest.sys.ini
Labels: core language change, Joomla! 5.1, administrator
