Repository joomlagerman/joomla, pull requests merged in 2024-07, with the labels that each got.

#3215 [4.4] Standardisation of the iFrame spelling
  administrator/language/de-DE/com_wrapper.ini
  administrator/language/de-DE/com_wrapper.sys.ini
  language/de-DE/com_wrapper.ini
  language/de-DE/mod_wrapper.ini
  language/de-DE/mod_wrapper.sys.ini
Labels: Joomla! 4.x, Joomla! 5.x, administrator, site

#3213 [5.1] Allow PDF embeding again
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 5.1, administrator

#3216 [PR] PR shorter spelling task priotity
  administrator/language/de-DE/com_scheduler.ini
Labels: enhancement, Joomla! 5.2, administrator

#3214 [5.2] Show a warning when there are due tasks
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 5.2, administrator

#3218 [5.1] Add update channel reset to Joomla Update Component
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, Joomla! 5.1, administrator

#3219 [5.1] fix wording "Update-Server" vs. "Update-Quelle"
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: enhancement, Joomla! 5.1

#3222 [5.2] remove margin-bottom on .btn styling to prevent nasty offset
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, Joomla! 5.2

#3225 [5.2] [Guided tours] Add missing auto start parameter in the user interface of tours #3224
  administrator/language/de-DE/com_guidedtours.ini
Labels: core language change

#3226 [5.2] Media field: selectable folders #3223
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change

#3228 [5.2] Feat: Introduce Mail Template Layout
  administrator/language/de-DE/com_config.ini
  administrator/language/de-DE/com_mails.ini
Labels: core language change, Joomla! 5.2, administrator

#3230 [5.2] Content Category Save to Menu #3229
  administrator/language/de-DE/joomla.ini
Labels: core language change
