Repository joomlagerman/joomla, pull requests merged in 2024-09, with the labels that each got.

#3265 [5.2] add href to MOD_ARTICLES_CATEGORY
  language/de-DE/mod_articles_category.ini
Labels: enhancement, Joomla! 5.2, site

#3263 [5.2] Articles Module
  language/de-DE/mod_articles.ini
  language/de-DE/mod_articles.sys.ini
Labels: core language change, Joomla! 5.2, site

#3267 Fehlendes Genitiv s
  installation/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 5.2, installation

#3268 installation fix
  installation/language/de-DE/joomla.ini
Labels: enhancement, Joomla! 4.4, installation

#3269 Fix for PR #3268
  installation/language/de-DE/joomla.ini
Labels: bug, Joomla! 4.4, installation

#3260 [5.2] Tinymce lang sort
  administrator/language/de-DE/plg_editors_tinymce.ini
Labels: core language change, Joomla! 5.2, administrator

#3275 [5.x] simplepie
  language/de-DE/lib_simplepie.sys.ini
  script.php
Labels: core language change, Joomla! 5.2, site

#3273 [4.4] Improve translation of aria label text by extra language keys
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 4.4, administrator, site

#3276 [5.2] cleanup/sync core
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/mod_submenu.sys.ini
  administrator/language/de-DE/plg_content_joomla.ini
  administrator/language/de-DE/plg_installer_urlinstaller.ini
  administrator/language/de-DE/plg_media-action_resize.ini
  administrator/language/de-DE/plg_media-action_rotate.ini
  administrator/language/de-DE/plg_quickicon_extensionupdate.ini
  language/de-DE/com_config.ini
  language/de-DE/com_contact.ini
  language/de-DE/com_media.ini
  language/de-DE/mod_related_items.ini
Labels: enhancement, Joomla! 5.2, administrator, site

#3278 [5.2] Deprecate string
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.2, administrator, site

#3279 [5.2] [Guided tours] Add a What's New tour when updating to Joomla 5.2
  administrator/language/de-DE/guidedtours.joomla_whatsnew_5_2.ini
  administrator/language/de-DE/guidedtours.joomla_whatsnew_5_2_steps.ini
Labels: core language change, Joomla! 5.2, administrator
