Repository joomlagerman/joomla, pull requests merged in 2024-04, with the labels that each got.

#3158 [4.x/5.x] a) gleich > selbe, b) Fenster > Browser-Tab
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: enhancement, Joomla! 5.1

#3160 [5.1] Fix quotes in test run dialog (scheduler)
  administrator/language/de-DE/com_scheduler.ini
Labels: bug, Joomla! 5.1

#3162 [5.1] Complete com_search deprecation #40727
  administrator/language/de-DE/localise.php
Labels: core language change, Joomla! 5.1, administrator

#3167 [5.2] Languagefilter: Add message when no content language is published
  administrator/language/de-DE/plg_system_languagefilter.ini
Labels: core language change, Joomla! 5.2, administrator

#3169 [5.x] String sentence
  administrator/language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.1, administrator
