Repository joomlagerman/joomla, pull requests merged in 2025-01, with the labels that each got.

#3365 [5.2] Adjust the links for more details within the HTTP Header Plugin
  administrator/language/de-DE/plg_system_httpheaders.ini
Labels: core language change, Joomla! 5.2, administrator

#3369 [4.4+] Set https for the jgerman webseite
  installation/sql/mysql/localise.sql
Labels: bug

#3375 [5.2] Error handling while create folder in media manager new pr
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 5.2, administrator

#3374 [5.2] MediaManager: improve error handling
  administrator/language/de-DE/lib_joomla.ini
  language/de-DE/lib_joomla.ini
Labels: core language change, Joomla! 5.2, administrator, site

#3376 [5.2] Fix Permissions for Manually Running Scheduled Tasks
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, Joomla! 5.2, administrator
