Repository joomlagerman/joomla, pull requests merged in 2025-02, with the labels that each got.

#3382 [5.2.3] User Action Logs Email
  administrator/language/de-DE/com_actionlogs.ini
Labels: core language change, Joomla! 5.2, administrator

#3381 [5.2] superfluous space deleted, alpha sorting and wording for pr #39878
  administrator/language/de-DE/com_media.ini
Labels: core language change, Joomla! 5.2, administrator

#3385 [5.3][com_finder] check if finder content plugin is enabled
  administrator/language/de-DE/com_finder.ini
Labels: core language change, administrator, Joomla! 5.3

#3387 [5.3] Admin: Contact view does not load with a large user base
  administrator/language/de-DE/com_contact.ini
Labels: core language change, administrator, Joomla! 5.3

#3384 [5.3][com_actionlogs] exclude self from mail notification
  administrator/language/de-DE/plg_system_actionlogs.ini
Labels: core language change, administrator, Joomla! 5.3

#3393 [5.3] Awesomplete accessibility fix
  language/de-DE/com_finder.ini
Labels: core language change, site, Joomla! 5.3

#3386 [5.3] Consistent Database Name Validation
  administrator/language/de-DE/com_config.ini
Labels: core language change, administrator, Joomla! 5.3

#3389 [5.3] Move code to log model in new scheduler history view
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, administrator, Joomla! 5.3

#3351 [5.3] [com_scheduler] task execution history view
  administrator/language/de-DE/com_scheduler.ini
Labels: core language change, administrator, Joomla! 5.3

#3394 [5.3] Update Jooa11y to Sa11y 4.0.3
  administrator/language/de-DE/plg_system_jooa11y.ini
Labels: core language change, administrator, Joomla! 5.3

#3397 [5.3] Completely revert PR 44640 - [5.3][com_actionlogs] exclude self from mail notification
  administrator/language/de-DE/plg_system_actionlogs.ini
Labels: core language change, administrator, Joomla! 5.3
