Repository joomlagerman/joomla, pull requests merged in 2025-08, with the labels that each got.

#3524 [5.4] Add checkedout filter to the Article Manager
  administrator/language/de-DE/com_content.ini
Labels: core language change, administrator, Joomla! 5.4

#3523 [6.0] Convert Popular Module to Service
  administrator/language/de-DE/mod_popular.ini
Labels: core language change, administrator, Joomla! 6.0

#3530 [6.0] remove deprecated string - redo #45565
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, administrator, Joomla! 6.0

#3534 [6.0] Template description
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: core language change, administrator, site, Joomla! 6.0

#3536 [6.0] Deprecated lang strings - redo
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, administrator, Joomla! 6.0

#3539 Zeichensetzung
  administrator/language/de-DE/mod_custom.ini
Labels: enhancement, Joomla! 5.x, administrator

#3540 [5.4] Feature: Add year filter order parameter for archived articles
  administrator/language/de-DE/com_content.ini
Labels: core language change, administrator, Joomla! 5.4

#3541 [6.0] Modify Cassiopeia for Joomla 6
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: core language change, administrator, Joomla! 6.0

#3570 [6.0] Extend versioning, save releated information in history table and restore historical data
  administrator/language/de-DE/joomla.ini
Labels: core language change, administrator, Joomla! 6.0

#3566 [6.0] Field simple color as web component
  administrator/language/de-DE/joomla.ini
  api/language/de-DE/joomla.ini
  language/de-DE/joomla.ini
Labels: core language change, administrator, site, api, Joomla! 6.0

#3571 [6.0] Actualize Sample Data
  administrator/language/de-DE/plg_sampledata_blog.ini
Labels: core language change, administrator, Joomla! 6.0

#3563 [5.4] Autoupdates - Improve download logging
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, administrator, Joomla! 5.4

#3562 [5.4] Allow opt-out from automated updates during installation
  installation/language/de-DE/joomla.ini
Labels: core language change, installation, Joomla! 5.4

#3572 [5.4] fix typo in COM_JOOMLAUPDATE_CONFIG_AUTOMATED_UPDATES_DESC
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: bug, administrator, Joomla! 5.4

#3565 [6.0] Note Custom Field Plugin
  administrator/language/de-DE/plg_fields_note.ini
  administrator/language/de-DE/plg_fields_note.sys.ini
Labels: core language change, administrator, Joomla! 6.0

#3582 [5.x] fix typo COM_JOOMLAUPDATE_VIEW_UPDATE_DOWNLOADFAILED
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: bug, Joomla! 5.x, administrator

#3581 [5.4] Implement autoupdate plugin events
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: core language change, administrator, Joomla! 5.4
