Repository joomlagerman/joomla, pull requests merged in 2025-03, with the labels that each got.

#3410 [5.x] Wording Update-Server
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: enhancement, Joomla! 5.x, administrator

#3406 [5.3] Fix core update information retrieval after changing the update channel or stability options
  administrator/language/de-DE/plg_extension_joomlaupdate.ini
  administrator/language/de-DE/plg_extension_joomlaupdate.sys.ini
Labels: core language change, administrator, Joomla! 5.3

#3408 [5.x] Wording PLG_EXTENSION_JOOMLA_XML_DESCRIPTION
  administrator/language/de-DE/plg_extension_joomla.ini
Labels: enhancement, Joomla! 5.x, administrator

#3401 [5.3] Add legacy message to content modules
  language/de-DE/mod_articles_category.ini
  language/de-DE/mod_articles_category.sys.ini
  language/de-DE/mod_articles_latest.ini
  language/de-DE/mod_articles_latest.sys.ini
  language/de-DE/mod_articles_news.ini
  language/de-DE/mod_articles_news.sys.ini
  language/de-DE/mod_articles_popular.ini
  language/de-DE/mod_articles_popular.sys.ini
Labels: core language change, administrator, Joomla! 5.3

#3404 [5.3] fine grain task notification mail
  administrator/language/de-DE/plg_system_tasknotification.ini
Labels: core language change, administrator, Joomla! 5.3

#3415 [5.3] Template Description
  administrator/language/de-DE/tpl_atum.ini
  administrator/language/de-DE/tpl_atum.sys.ini
  language/de-DE/tpl_cassiopeia.ini
  language/de-DE/tpl_cassiopeia.sys.ini
Labels: core language change, administrator, site, Joomla! 5.3

#3418 [5.3] Anführungszeichen in /language/de-DE/com_joomlaupdate.ini korrigieren
  administrator/language/de-DE/com_joomlaupdate.ini
Labels: enhancement, administrator, Joomla! 5.3

#3425 [5.3] display email address in contact
  language/de-DE/com_contact.ini
Labels: core language change, site, Joomla! 5.3

#3426 [5.3] Add missing help link for Articles-Module
  administrator/language/de-DE/com_admin.ini
Labels: core language change, administrator, Joomla! 5.3

#3428 [5.3] en dash
  administrator/language/de-DE/com_admin.ini
  administrator/language/de-DE/plg_extension_joomlaupdate.ini
  administrator/language/de-DE/plg_extension_joomlaupdate.sys.ini
Labels: bug, administrator, Joomla! 5.3

#3427 [5.3] Guided Tours: What's New
  administrator/language/de-DE/guidedtours.joomla_whatsnew_5_3.ini
  administrator/language/de-DE/guidedtours.joomla_whatsnew_5_3_steps.ini
Labels: core language change, administrator, Joomla! 5.3

#3431 [5.3] fix wrong path to the filesdirectory.jpg
  administrator/language/de-DE/guidedtours.joomla_whatsnew_5_3.ini
Labels: bug, administrator, Joomla! 5.3

#3434 [5.x] Beiträge-Modul, vertauschte Begriffe
  language/de-DE/mod_articles.ini
Labels: bug, Joomla! 5.x, administrator

#3435 [5.x] Improve Search result message
  language/de-DE/com_finder.ini
Labels: enhancement, site, Joomla! 5.3
